---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Date from "../../components/Date.astro";
import Tags from "../../components/Tags.astro";

import { getCollection } from "astro:content";
import { sortCollectionByDate } from "../../scripts/utils.ts";
import { filterDrafts } from "../../scripts/utils.ts";

const notes = await getCollection("notes", filterDrafts);
sortCollectionByDate(notes);
---

<BaseLayout title="Notes" description="My digital notebook." ogType="website">
  <h1>Notes I've Taken</h1>

  <p>
    You can <a href="/notes/tags/">browse by category</a> and subscribe via <a
      href="https://samfeldstein.xyz/feed.xml">RSS</a
    >. If you prefer to subscribe by email, you can use <a
      href="https://blogtrottr.com">blogtrottr</a
    > to route the feed to your inbox.
  </p>

  <ul class="notes">
    {
      notes.map((note) => (
        <li>
          <a
            href={`/notes/${note.id}/`}
            class="title"
            set:html={note.data.title}
          />
          <div class="info">
            <Date date={note.data.updated} />
            <Tags tags={note.data.tags} path="notes" />
          </div>
        </li>
      ))
    }
  </ul>
</BaseLayout>

<style>
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: grid;
    gap: 2rem;
  }

  .info {
    font-size: var(--font-small);
  }

  a {
    &.title {
      font-weight: 700;
      font-size: var(--font-medium);
      display: inline-block;
      text-wrap: balance;
      line-height: 1;
    }
  }

  span.outlet {
    font-style: italic;
  }
</style>

<style is:global>
  ul.tags {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    font-size: var(--font-smallest);

    a {
      display: inline-block;
      padding: 0.15rem 0.25rem 0.15rem 0;
    }
  }
</style>
