// CONFIG
// Fonts
:root {
    --font-monospace: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
    --color-2: #184dc9;
    --color-3: #adff2f;
}

%small-caps {
    font-variant: small-caps;
}

article>p {
    line-height: 1.25;

    @media screen and (min-width: 800px) {
        text-align: justify;
        hyphens: auto;
    }
}

h1 {
    font-size: 2rem;
    margin-bottom: 0;
}

h2 {
    @extend %small-caps;
    text-align: right;
    border-bottom: 1px solid;
}

a {
    @extend %small-caps;
    color: var(--color-2);
    text-underline-offset: 0.25em;

    &:hover,
    &:focus {
        text-decoration: none;
    }

    @media (prefers-color-scheme: dark) {
        color: var(--color-3);
    }
}