%small-caps {
    font-variant: small-caps;
}

h1 {
    text-transform: uppercase;
    margin-bottom: 0;
}

h2 {
    @extend %small-caps;
}

a {
    @extend %small-caps;
    font-family: monospace;
    color: #184dc9;
    
    &:hover,
    &:focus {
        text-decoration: none;
    }

    @media (prefers-color-scheme: dark) {
        color: #adff2f;
    }
}