%small-caps {
    font-variant: small-caps;
}

h1 {
    text-transform: uppercase;
    margin-bottom: 0;
}

h2 {
    @extend %small-caps;
    text-align: right;
    border-bottom: 1px solid;
}

a {
    @extend %small-caps;
    font-family: monospace;
    color: #184dc9;
    text-decoration-style: double;
    text-decoration-thickness: 0.08em;
    text-underline-offset: 0.1em;
    
    &:hover,
    &:focus {
        text-decoration: none;
    }

    @media (prefers-color-scheme: dark) {
        color: #adff2f;
    }
}