// Adapted from Andy Bell's modern CSS reset and Nicolas Gallagher's normalize.css:
// https://piccalil.li/blog/a-more-modern-css-reset/
// https://github.com/necolas/normalize.css/tree/master

// Box sizing rules
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  // Prevent font size inflation
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  
  scroll-behavior: smooth;
  // Force scrollbar
  overflow-y: auto;
}

// Headers
h1,
h2 {
  text-wrap: balance;
}

// Set layout defaults
body {
  min-height: 100vh;
  font-weight: 400;
}

// Correct the inheritance and scaling of font size in all browsers
pre,
code,
kbd,
samp {
  font-family: monospace;
}

// Add the correct font weight in Chrome, Edge, and Safari
b,
strong {
  font-weight: bolder;
}

// Make images easier to work with
img,
figure,
picture {
  width: 100%;
  height: auto;
  display: block;
}

// Inherit fonts for inputs and buttons
input,
button,
textarea,
select {
  font: inherit;
}
