---
import BaseLayout from "../../layouts/Base.astro";
import Date from "../../components/Date.astro";

import { getCollection } from "astro:content";
import { sortCollectionByDate } from "../../scripts/utils.ts";

// Styles
import "../../styles/_cyber-index.scss";

// Filter drafts when building for production
const entries = await getCollection("cyber");
// Sort entries by date
sortCollectionByDate(entries);
---

<BaseLayout title="Cybersecurity Portfolio">
  <h1>Cybersecurity Portfolio</h1>
  <ul class="entries">
    {
      entries.map((entry) => (
        <li>
          <a
            href={`/cybersecurity/${entry.id}/`}
            class="title"
            set:html={entry.data.title}
          />
          <Date date={entry.data.pubDate} />
        </li>
      ))
    }
  </ul>
</BaseLayout>
