---
import { Image } from "astro:assets";
import { getGalleryImages } from "@/scripts/utils";

const photos = await getGalleryImages();
---

<div class="gallery">
  {
    photos.map((photo) => (
      <Image
        src={photo.src}
        widths={[256, 691, 936, 1382, 1640, 1850, 2048]}
        sizes="(min-width: 1020px) 691px, (min-width: 780px) calc(81.82vw - 127px), calc(100vw - 48px)"
        alt={photo.alt || photo.title}
      />
    ))
  }
</div>

<style lang="scss">
  div.gallery {
    display: grid;
    gap: 1rem;
  }

  img {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-style: solid;
    border-width: 0.4em;
    border-color: white;
    border-radius: 3px;
  }
</style>