@use 'default';

a {
  &:not(.read) {
    @extend .small-caps;
  }

  &.read {
    font-weight: 900;
    text-align: right;
  }
}

ul {
  &.posts {
    @extend .unstyled-list;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
  }

  &.tags {
    @extend .unstyled-list;
    @extend .small-caps;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    font-family: var(--font-2);
    font-size: 0.7em;
    font-weight: 300;
  }
}

li.post {
  @extend .defer;
  // Outer layout
  border: 2px solid var(--accent-reversed);
  border-radius: 8px;
  // Inner layout
  padding: 2rem;
  display: grid;
  grid-template-rows: 1fr 2fr auto;
  gap: 2em;
}

.title {
  font-size: 1.75em;
}

.info {
  font-size: 1em;
  color: var(--dark-grey);
}