@use 'fonts/orbitron';
@use 'mixins';
@use 'utils';

/* === INSPIRATION ===
https://stylestage.dev/styles/pipboy/
https://codepen.io/odyssey-os/pen/bNdowNB
*/

// === Config ===
:root {
  // https: //modernfontstacks.com
  --font-1: 'Fira Code', monospace;
  --font-2: 'Orbitron', 'Orbitron Fallback';
  // Colors
  --text-color: oklch(0.887 0.234 143);
  // --text-color: oklch(79.268% 0.17097 70.665);
  --background-color: oklch(0.207 0.013 78);
  --accent: oklch(from var(--text-color) l c h / 0.5);
  --accent-2: oklch(from var(--text-color) l c h / 0.25);
}

html {
  background-color: var(--background-color);
  scrollbar-color: var(--accent) var(--background-color);
  scrollbar-width: thin;
}

body {
  position: relative;
  z-index: -2;
  display: grid;
  gap: 4rem;
  padding: 1rem;
  margin: 0 auto;
  min-height: 100vh;
  max-width: 70rem;
  font-family: var(--font-1);
  text-shadow: 0rem 0.2rem 1em currentColor;

  &::before {
    content: "";
    position: fixed;
    inset: 0;
    pointer-events: none;
    z-index: -1; // Make sure it's above the background but below content
    background: repeating-linear-gradient(to bottom,
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0) 2px,
        rgba(0, 0, 0, 0.1) 4px,
        rgba(0, 0, 0, 0.6) 0.45rem);
  }

  &::after {
    content: "";
    position: fixed;
    inset: 0;
    pointer-events: none;
    z-index: 3;
    opacity: 0.25;
    background: radial-gradient(circle, var(--text-color) 20%, var(--background-color) 100%);
  }
}

hgroup {
  position: relative;
  border-style: solid none;
  border-width: 0.15rem;
  padding: 4rem 2rem;

  &::before,
  &::after {
    position: absolute;
    content: '';
    background: linear-gradient(to bottom, var(--text-color) 0%, rgba(0, 0, 0, 0) 35%, rgba(0, 0, 0, 0) 65%, var(--text-color) 100%);
    width: 0.15rem;
    height: 100%;
    top: 0;
    right: 0;
  }

  &::before {
    left: 0;
  }
}

h1 {
  position: absolute;
  top: -26px;
  margin: 0;
  padding: 0 0.3em;
  font-family: var(--font-2);
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  z-index: 1;

  &::after {
    background-color: var(--background-color);
    content: '';
    height: 0.2rem;
    width: 100%;
    left: 0;
    top: 23px;
    position: absolute;
    z-index: -1;
  }
}

ul.projects {
  @extend .unstyled-list;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: 250px;
  gap: 2rem;

  li {
    border: 1px solid;
    box-shadow: 5px 5px 0 var(--background-color), 6px 6px 0;
    padding: 0.5em 1em;
  }
}

a {
  @extend .small-caps;
  @extend .unstyled-link;
  display: inline-block;

  &:hover {

    color: #FFFFFF;
    text-shadow: 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px var(--text-color), 0 0 30px var(--text-color), 0 0 40px var(--text-color), 0 0 55px var(--text-color), 0 0 75px var(--text-color), 2px 2px 2px rgba(206, 89, 55, 0);
  }

  &.home {
    display: block;
    margin-bottom: 4rem;
    width: fit-content;

    &::before {
      content: '←';
      margin-right: 0.25em;
    }
  }

  &.name {
    font-family: var(--font-2);
    letter-spacing: 0.1em;
    font-size: 1.1rem;
  }
}

.code-icons {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  gap: 1rem;

  svg {
    max-width: 6rem;
    fill: currentColor;
  }
}

#skiplink {
  @extend .visually-hidden;
}

::selection {
  background-color: var(--accent-2);
}