ul.entries {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  gap: 2rem;
}

// Handle checkboxes. As far as I know, this is only in use on the cybersecurity page.
ul.contains-task-list {
  list-style-type: none;
  padding: 0;

  li {
    display: flex;
    gap: 1rem;
    align-items: first baseline;
  }
}

time {
  display: block;
  font-size: var(--font-small);
}

a {
  &.title {
    font-weight: 700;
    font-size: var(--font-medium);
    display: inline-block;
    text-wrap: balance;
  }
}

span.outlet {
  font-style: italic;
}