@use "utilities";

%monospace {
  font-family: "Fira Code", ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
}

%border-bottom-dotted {
  border-width: 2px;
  border-bottom-style: dotted;
  border-color: var(--text-color);
}