@use "utilities";

%monospace {
  font-family: "Fira Code", ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
}

%border-bottom-dashed {
  @extend %border-thin;
  border-bottom-style: dashed;
  border-color: var(--text-color);
  margin-bottom: 2rem;
}