@use 'utils';

@font-face {
  font-family: 'Bebas Neue';
  src: url('/fonts/subset-BebasNeue-Regular.woff2') format('woff2'),
    url('/fonts/subset-BebasNeue-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'CMU Bright';
  src: url('/fonts/subset-CMUBright-Roman.woff2') format('woff2'),
    url('/fonts/subset-CMUBright-Roman.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'CMU Bright';
  src: url('/fonts/subset-CMUBright-SemiBold.woff2') format('woff2'),
    url('/fonts/subset-CMUBright-SemiBold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --font-1: 'CMU Bright', sans-serif;
  --font-2: 'Bebas Neue', sans-serif;
  --font-size-base: clamp(1.25rem, 5vw, 2rem);

  // Colors
  color-scheme: light dark;
  --text-color: light-dark(#000, #fff);
  --background-color: light-dark(#fff, #000);
  --accent: light-dark(#595959, #999999);
  --accent-2: light-dark(#999999, #595959);
}

html {
  scrollbar-color: var(--text-color) var(--background-color);
}

body {
  @extend .flex-column;
  margin: 0 auto;
  border-style: none solid;
  border-width: 0.5rem;
  min-height: 100vh;
  gap: 4rem;
  font-family: var(--font-1);
  font-size: var(--font-size-base);
}

#skiplink {
  font-family: var(--font-2);
  background-color: var(--background-color);
  border-style: solid;
  border-width: 0.1em;
  padding: 0.5em;
  z-index: 100;
  position: absolute;
  translate: -1000%; // Hide visually by default
  transition-duration: 0.25s;

  &:focus {
    translate: 0;
  }
}

header {
  @extend .flex-column;
  justify-content: center;
  min-height: 100vh;
}

h1 {
  @extend .flex-column;
  gap: 2rem;
  margin: 0 auto; // Center
  width: 100%;
  max-width: 95%; // Effectively add padding
  font-family: var(--font-2);
  font-size: clamp(5rem, 20vw, 20vh); // 20vh key (I think) to filling header without overflow
  font-weight: 100;
  text-align: right;
  line-height: 1;

  &>div {
    --time: 0.5s;
    // Wipe animation
    display: inline-block; // Confine styles to line width instead of full block width
    clip-path: inset(0 0 0 100%); // Hide on page load
    animation: wipeIn var(--time) ease-out forwards;

    @media screen and (min-width: 768px) {
      --time: 0.8s;
    }
  }
}

#title {
  color: var(--background-color); // Reverse color scheme
  -webkit-text-stroke: 1.25px var(--text-color);
}

#byline {
  font-family: var(--font-1);
  font-size: clamp(var(--font-size-base), 2vw, 5vh);
}

h2 {
  font-family: var(--font-2);
  font-size: 2em;
  text-align: center;
  margin: 0;
  margin-bottom: 0.5em;
  padding-top: 1rem;
}

h3 {
  @extend .small-caps;
  margin: 0;
}

main {
  counter-reset: item; // Set here so counter applies to footer as well
}

main,
footer {
  max-width: 50rem;
  width: 100%;
  margin: 0 auto;
}

nav {
  display: grid;
  gap: 2em;
}

// developer.mozilla.org/en-US/docs/Web/CSS/CSS_counter_styles/Using_CSS_counters
ul {
  @extend .unstyled-list;
  margin: 0;
  padding-left: 0.5em;
}

a:not(#skiplink) {
  counter-increment: item;
  display: block; // Must be block for positioning for counters to work
  position: relative;
  padding: 0.5em 2em 0.5em 0;

  &:hover,
  &:focus {
    color: var(--accent);
  }

  // Add "page" numbers
  &::after {
    content: counter(item);
    position: absolute;
    right: 0;
  }
}

footer {
  display: grid;
  gap: 4rem;

  a::after {
    content: counter(item, upper-roman) !important; // Use Roman numerals for external links
  }
}

.border {
  position: fixed;
  left: 0;
  width: 100vw;
  height: 0;
  border-bottom: 0.5rem solid;
  /* Adjust thickness and color */
  z-index: 9999;
  /* Ensures it stays on top */
  pointer-events: none;
  /* Allows clicks to pass through */

  &.top {
    top: 0;
  }

  &.bottom {
    bottom: 0;
  }
}

// Animations
@keyframes wipeIn {
  from {
    clip-path: inset(0 0 0 100%);
  }

  to {
    clip-path: inset(0 0 0 0);
  }
}