h1 {
  font-variant: normal;
  font-weight: 400;
  text-align: left;
  
  // Undo global h1 margins
  margin: unset;
  margin-top: 3rem;
}

span.name {
  letter-spacing: 0.2em;
}

nav, div.contact {
  display: grid;
  gap: 1rem;
}