@use "default";

a {
  @extend .unstyled-link;
  @extend .small-caps;
  letter-spacing: 0.07em;

  &:hover {
    text-decoration-line: underline;
    text-decoration-thickness: 0.1em;
    text-underline-offset: 0.1em;
  }
}

p {
  font-size: 1.25em;
}