@use 'default';

a {
  @extend .unstyled-link;
  @extend .small-caps;
  letter-spacing: 0.07em;

  &:hover {
    text-decoration-line: underline;
    text-decoration-thickness: 0.1em;
    text-underline-offset: 0.1em;
  }
}

p {
  font-size: 1.25em;
}

div.gallery {
  display: grid;
  gap: 1rem;
}

div.photo {
  @extend .defer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: white;
  padding: 0.5rem;
  border-radius: 4px;
}

div.title {
  font-style: italic;
  text-align: center;
  margin: 0.75em 0;
  color: black;
}