@use 'fonts/cormorant';
@use 'fonts/noto-sans';
@use 'global';
@use 'utils';

:root {
  --font-1: 'Cormorant',
    'Cormorant Fallback',
    serif;
  --font-2: 'Noto Sans', 'Noto Sans Fallback', sans-serif;
  --font-size-base: clamp(1rem, 5vw, 1.25rem);
  --dark-grey: oklch(0.457 0 0);

  // Colors
  color-scheme: light dark;
  --text-color: light-dark(#000, #fff);
  --background-color: light-dark(#fff, #000);
}

// === ELEMENTS ===
html {
  background-color: var(--background-color);
  scrollbar-color: var(--text-color) var(--background-color);
}

body {
  background-color: var(--background-color);
  max-width: 80rem;
  margin: 0 auto;
  padding: 1rem;
  font-family: var(--font-1);
  font-size: var(--font-size-base);
}

header {
  margin-bottom: 6rem;

  p {
    text-align: center;
  }
}

nav {
  font-family: var(--font-2);
  font-weight: 300;
}

h1 {
  font-family: var(--font-2);
  font-weight: 300;
  font-size: 3em;
  text-transform: uppercase;
  text-align: center;
}

a {
  @extend .unstyled-link;
  @extend .small-caps;
  letter-spacing: 0.07em;

  &:hover {
    text-decoration-line: underline;
    text-decoration-thickness: 0.1em;
    text-underline-offset: 0.1em;
  }
}

div.gallery {
  display: grid;
  gap: 1rem;
}

div.photo {
  @extend .defer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: white;
  padding: 0.5rem;
  border-radius: 4px;
}

div.title {
  font-style: italic;
  text-align: center;
  margin: 1em;
}

// === SKIPLINK ===
#skiplink {
  font-family: var(--font-2);
  font-weight: 300;
  text-transform: uppercase;
  background-color: var(--background-color);
  padding: 0.5em;

  &:focus-visible {
    outline-width: 0.1em;
    outline-color: var(--text-color);
  }
}