@use 'default';

header {
  border-bottom: 1px dotted;
  text-align: center;
}

.tags {
  @extend .unstyled-list;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  justify-content: center;
  font-family: var(--font-2);
  font-weight: 300;
}

h2 {
  font-family: inherit;
  font-style: italic;
}

.page-description {
  font-style: italic;
  text-wrap: pretty;
  text-align: center;

  // Handle titles in post descriptions
  cite {
    font-style: normal;
  }
}

a {
  @extend .unstyled-link;
  @extend .small-caps;
  letter-spacing: 0.07em;

  &:hover {
    text-decoration-line: underline;
    text-decoration-thickness: 0.1em;
    text-underline-offset: 0.1em;
  }
}

main {
  font-size: 1.25em;
  max-width: 50rem;
  margin: 0 auto;

  p, ul, ol {
    @extend .justify;
  }
}

blockquote {
  font-size: 0.9em;
  margin: 0 auto;
  max-width: 95%;
  border-style: solid none;
  border-width: 1px;
  border-color: var(--accent-reversed);
  padding: 0 1.5em;
  background-color: var(--accent-light);

  .attribution {
    text-align: right;
    font-size: 0.75em;
  }
}

.signature {
  text-align: right;
  font-size: 0.75em;
  font-style: italic;
  margin-top: 4rem;
}

// Not quite working yet. If the sentence breaks, the latter half of the sentence won't be in small caps. Looks weird?
// Also need to account for poems, which might need their own collection and layout
// article {

//   p:first-of-type::first-line {
//     font-variant: small-caps;
//     letter-spacing: 0.75px;
//   }
// }