h1 {
  margin-bottom: 0;
}

.dateline {
  font-size: 0.75em;
  margin-top: 4rem;
}

.page-header {
  border-bottom-style: solid;
  border-bottom-width: 0.5px;

  padding-bottom: 1rem;
  display: grid;
  gap: 1rem;
}

.description {
  margin: 0;
  font-style: italic;
  text-align: center;

  // Handle titles in post descriptions
  cite {
    font-style: normal;
  }
}


ul.tags {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: center;
  font-variant: small-caps;
  font-size: var(--font-small);
}

div.photo {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: white;
  padding: 0.5rem;
  border-radius: 2px;
}

div.photo-caption {
  color: #1a1a1a;
  text-align: center;
  font-family: "5th Grade Cursive", serif;
  font-size: 1rem;
  padding-top: 0.5em;
}

/* Handle titles in descriptions */
span.normal {
  font-style: normal;
}

div.signoff {
  text-align: right;
  font-size: var(--font-small);
  font-style: italic;
  margin-top: 4rem;
}