@use 'default';

nav {
  @extend .small-caps;
}

.read {
  font-weight: 900;
  text-align: right;
  position: relative;
}

ul {
  &.portfolio {
    @extend .unstyled-list;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: max-content;
    gap: 1rem;
  }

  li {
    @extend .defer;
    border: 1px black;
  }
}

.entry {
  @extend .unstyled-link;
  // Outer layout
  height: 100%;
  border: 2px solid var(--accent-reversed);
  border-radius: 8px;
  // Inner layout
  padding: 2rem;
  display: grid;
  grid-template-rows: 1fr 2fr auto;
  gap: 2em;

  &:hover {
    border-color: var(--accent);
    text-decoration: none;

    .read {
      text-decoration-line: underline;
      text-decoration-thickness: 0.1em;
      text-underline-offset: 0.1em;
    }
  }
}

.title {
  font-size: 1.75em;
  text-wrap: balance;
}

.info {
  font-size: 0.85em;
  color: var(--dark-grey);
}

.type {
  @extend .small-caps;
}