@use 'default';

main {
  max-width: 50rem;
  margin: 0 auto;
}

h2 {
  font-family: var(--font-2);
  font-size: 2em;
  font-weight: 100;
  text-align: center;
  margin-top: 3em;
}

ul.portfolio {
  @extend .unstyled-list;
  
  padding: 0;
  display: grid;
  gap: 4rem;
}

.entry {
  @extend .unstyled-link;
}

.title {
  font-weight: 100;
  text-wrap: balance;
}

.info {
  font-size: 0.5em;
  color: var(--dark-grey);
}

.type {
  @extend .small-caps;
}