a.skiplink {
  background-color: white;
  border-style: solid;
  border-width: 1px;
  padding: 0.5em;
  font-variant: small-caps;
  text-decoration: none;
  position: absolute;
  translate: -1000%;
  transition-duration: 0.25s;
}

a.skiplink:focus {
  translate: 0;
}

body {
  font-family: Lato, Arial, Helvetica, sans-serif;
}

div.download {
  text-align: center;
}

h1,
h2,
h3 {
  font-family: "American Typewriter", "Courier New", Courier, monospace;
  font-weight: 400;
}

h1 {
  font-size: 6rem;
  border-bottom-style: solid;
  border-bottom-width: 0.5px;
  border-bottom-color: #afafaf;
  margin-bottom: 0.5rem;
}

div.name {
  font-weight: 400;
}

div.role {
  font-weight: 100;
  color: #555;
}

header address {
  display: flex;
  gap: 2rem;
  color: #555;
  font-style: normal;
  font-size: 0.75rem;
  text-transform: uppercase;
}

p.summary {
  margin: 6rem 0;
  font-size: 2rem;
  color: #555;
}

main>section {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* Elements */
a {
  color: unset;
  text-decoration-thickness: 1px;
  text-underline-offset: 2px;
  text-decoration-color: #999;
}

a:hover,
a:focus {
  text-decoration-style: dotted;
}