@use 'fonts/cormorant';
@use 'fonts/noto-sans';
@use 'global';
@use 'utils';

// === CONFIG ===
:root {
  --font-1: 'Cormorant', 'Cormorant Fallback', serif;
  --font-2: 'Noto Sans', 'Noto Sans Fallback', serif;
  --font-size-base: clamp(1rem, 10vw, 1.25rem);
  --font-small: calc(var(--font-size-base) * .75);
  --dark-grey: oklch(0.457 0 0);
}

body {
  max-width: 60rem;
  margin: 0 auto;
  padding: 1rem;
  font-family: var(--font-1);
  font-size: var(--font-size-base);
}

// === HEADER ===
.download-link {
  display: block; // Must be block for text align to work

  // Typography
  @extend .font-2;
  font-size: var(--font-small);
  font-weight: 300;
  text-align: center;
  letter-spacing: 0.05em;
  color: var(--dark-grey);
}

// Contact info
address {
  // Layout
  display: flex;
  flex-wrap: wrap;

  // Typography
  @extend .font-2;
  font-style: normal;
  font-size: var(--font-small);
  font-weight: 300;
  font-variant: small-caps;
  text-transform: lowercase;
  letter-spacing: 0.05em;
  color: var(--dark-grey);

  &.web {
    gap: 0.25rem 1rem;
  }

  &.print {
    display: none;
  }

  .location {
    color: black;
  }
}

hgroup {
  margin-top: 5rem;
}

h1 {
  margin-bottom: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0 1rem;
  font-size: clamp(4rem, 10vw, 7rem);
  font-weight: 300;
  line-height: 1;

  .role {
    color: var(--dark-grey);
  }
}

// TOC
nav.contents {
  
  // Layout
  margin-bottom: 5rem;
  margin-top: 6rem;
  display: flex;
  gap: 4rem;

  // Typography
  @extend .font-2;
  font-size: clamp(1rem, 5.5vw, 1.5rem);
  font-weight: 200;
  letter-spacing: 0.075em;

  // Split into columns
  div {
    display: grid;
    gap: 1rem;
  }
}

// === MAIN ===
h2 {
  @extend .font-2;
  margin: 0;
  margin-bottom: 2rem;

  // Typography
  font-weight: 300;
  font-size: 1.5em;
  text-align: right;
  text-transform: uppercase;
  letter-spacing: 0.1em;

  /* Aligns top with h3 */
  line-height: 0.8;
}

h3,
.h3 {
  margin: 0;
  font-weight: 700;
  font-size: 1.2em;
  text-wrap: balance;
}

div.employer {
  font-weight: 400;
}

div.skills,
div.experience,
div.projects,
div.volunteer,
div.education {
  display: grid;
  gap: 1rem;
}

main {
  display: grid;
  gap: 6rem;

  ul:not(.skills, .publications) {
    list-style-type: circle;
    gap: 1em;
  }
}

a {
  color: var(--dark-grey);
  font-variant: small-caps;

  text: {
    decoration: none;
    transform: lowercase;
  }

  transition: all 0.2s;

  &:hover,
  &:focus {
    color: #000;
  }

  &:focus-visible {
    outline: 0.08em solid currentColor;
    border-radius: 0.1em;
  }
}

li {
  text-wrap: pretty;

  // Selected nested lists, as in some skills sections
  &:has(> ul) {
    display: grid;
    gap: 0.5em;
  }
}

time,
.info {
  color: var(--dark-grey);
  font-size: 1rem;
}

main {
  &>section {
    border-top-style: solid;
    border-top-width: 0.5px;
    border-top-color: var(--dark-grey);
    padding-top: 1.5em;
  }

  ul {
    display: grid;
    padding-left: 1em;
  }
}

ul.publications {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  gap: 1rem;
}

ul.skills {
  @extend .unstyled-list;
  gap: 0.5em;
}


::selection {
  color: #fff;
  background-color: #000;
}

// Publication title
cite.h3 {
  font-style: normal;
}

// Desktop styles
@media screen and (min-width: 768px) {

  html {
    font-size: 20px;
  }

  h2 {
    text-align: left;
  }

  main>section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
}

// === UTILS ===
.font-1 {
  font-family: var(--font-1);
}

.font-2 {
  font-family: var(--font-2);
}