// Résumé print styles
@media print {

  html {
    // Set here so that rem units work
    font-size: 10px;
    color: black;
  }

  body {
    padding: 4rem;
    // Prevents blank extra page
    padding-bottom: 0;
  }

  .download-link {
    display: none;
  }

  header {
    nav {
      display: none;
    }
  }

  h1 {
    margin-top: 1rem;
    margin-bottom: 0;
    border: none;

    font-size: 3rem;
    text-align: center;

    .role {
      font-size: 2rem;
    }

    br {
      display: none;
    }
  }

  h2 {
    margin-top: 3.75rem;
    margin-bottom: 0.75rem;
    padding: 0.5rem 0;

    border-top: {
      style: solid;
      width: 0.5px;
      color: #d1d1d1;
    }

    font-size: 1.75rem;
    text-align: right;
  }

  ul {
    // Remove extra space between headings and points
    margin-bottom: 0;
  }

  a {
    text-decoration: none;
  }

  address {

    &.print {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 1rem;
    }

    &.web {
      display: none;
    }
  }

  main {
    gap: 0;

    &>section {
      border: none;
      padding: unset;

      ul {
        // Reduce space between list items
        gap: 0.25rem;
      }
    }

    section:first-of-type h2 {
      // margin-top: 1rem;
    }
  }

  div.skills {
    display: flex;
    justify-content: space-between;
    // gap: 4rem;

    h3 {
      margin-bottom: 0.25rem;
    }

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
  }

  div.experience {

    h3 {
      margin-bottom: 0;
    }

    ul {
      margin-top: 0.5em;
    }
  }

  section.projects {
    h2 {
      // Add some space to 2nd page top
      margin-top: 4rem;
    }
  }

  div.projects {

    h3 {
      margin-bottom: 0;
    }

    ul {
      margin-top: 0.5em;
    }
  }

  time,
  .time {
    font-size: 8px;
    text-transform: none;
  }

  div.experience,
  div.volunteer,
  div.projects,
  div.publications,
  div.education {
    gap: 1rem;
  }

  section.projects {
    break-before: page;
  }

  p.summary {
    display: none;
  }
}