@page {
  margin: 0.5in 1.5in;

  @bottom-center {
    content: "Feldstein Résumé — Page " counter(page) " of " counter(pages);
    font-family: var(--font-2);
    font-size: 0.5rem;
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }
}

@media print {

  :root {
    --dark-grey: black;
  }

  html {
    // Set here so that rem units work
    font-size: 13.5px;
  }

  body {
    display: unset;
    // Prevents blank extra page
    padding-bottom: 0;
  }

  header {
    height: unset;
    display: unset;
    text-align: center;
  }

  h1 {
    margin-bottom: 0.75rem;
    gap: 0.25rem;
    font-family: var(--font-2);
    font-variant: small-caps;
    text-transform: lowercase;

    .name {
      font-size: 2rem;
      font-weight: 350;
      letter-spacing: 0.1em;
    }

    .role {
      font-size: 1rem;
      font-weight: 350;
      letter-spacing: 0.1em;
    }
  }

  address {
    justify-content: center;
    font-size: 0.75rem;
  }

  .download-link {
    @extend .hide;
  }

  nav.contents {
    @extend .hide;
  }

  h2 {
    margin-top: 2.5rem;
    margin-bottom: 0.75rem;
    padding: 0.5rem 0;
    border-top: 1px solid black;

    font-size: 0.5rem;
    font-weight: 800;
    text-align: left;
  }

  div.skills,
  div.relevant-experience,
  div.other-experience,
  div.projects,
  div.volunteer,
  div.education,
  ul.publications {
    gap: 1rem;
  }

  div.skills {
    h3 {
      @extend .hide;
    }
  }

  div.volunteer {
    p {
      margin-top: 0.5rem;
      margin-bottom: 0;
    }
  }

  ul {
    // Remove extra space between headings and points
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;

    &.skills {
      gap: 0.25em;
    }

    &:not(.skills, .publications, .projects) {
      list-style-type: disc !important;
    }
  }

  a {
    text-decoration: none;
  }

  address {

    &.print {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 1rem;
    }

    &.web {
      display: none;
    }
  }

  main {
    gap: 0;

    &>section {
      border: none;
      padding: 0;

      ul {
        // Reduce space between list items
        gap: 0.25rem;
      }
    }
  }

  div.skills {
    display: flex;
    justify-content: space-between;
    // gap: 4rem;

    h3 {
      margin-bottom: 0.5rem;
    }

    ul {
      list-style-type: none;
      margin: 0;
      padding-left: 0;
    }
  }

  div.experience {

    h3 {
      margin-bottom: 0;
    }

    ul {
      margin-top: 0.5em;
    }
  }

  section.projects {

    p {
      margin-top: 0.5rem;
      margin-bottom: 0;
    }
  }

  div.projects {

    h3 {
      margin-bottom: 0;
    }

    ul {
      margin-top: 0.5em;
    }
  }

  time,
  .time {
    font-size: 8px;
    text-transform: none;
  }

  p.summary {
    display: none;
  }

  .hide,
  .no-print {
    display: none !important;
  }
}