/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

body {
  font-weight: 400;
}

img {
  /* Make images responsive */
  max-width: 100%;
  height: auto;
  animation: fadeIn .5s ease-in forwards;
}

figure {
  margin: 0;
}

/* Correct the inheritance and scaling of font size in all browsers */
pre,
code,
kbd,
samp {
  font-family: ui-monospace, monospace;
}

/* Add the correct font weight in Chrome, Edge, and Safari */
b,
strong {
  font-weight: bolder;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}