@font-face {
  font-family: 'Lato';
  src:
    local("Lato"),
    url('/fonts/subset-Lato-Bold.woff2') format('woff2'),
    url('/fonts/subset-Lato-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src:
    local("Lato"),
    url('/fonts/subset-Lato-BoldItalic.woff2') format('woff2'),
    url('/fonts/subset-Lato-BoldItalic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: local("Lato"), url('/fonts/subset-Lato-Italic.woff2') format('woff2'),
    url('/fonts/subset-Lato-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: local("Lato"), url('/fonts/subset-Lato-LightItalic.woff2') format('woff2'),
    url('/fonts/subset-Lato-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: local("Lato"), url('/fonts/subset-Lato-Light.woff2') format('woff2'),
    url('/fonts/subset-Lato-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: local("Lato"), url('/fonts/subset-Lato-Regular.woff2') format('woff2'),
    url('/fonts/subset-Lato-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cormorant Garamond';
  src: url('/fonts/subset-CormorantGaramond-Light.woff2') format('woff2'),
    url('/fonts/subset-CormorantGaramond-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cormorant Garamond';
  src: url('/fonts/subset-CormorantGaramond-Bold.woff2') format('woff2'),
    url('/fonts/subset-CormorantGaramond-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cormorant Garamond';
  src: url('/fonts/subset-CormorantGaramond-Light.woff2') format('woff2'),
    url('/fonts/subset-CormorantGaramond-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cormorant Garamond';
  src: url('/fonts/subset-CormorantGaramond-Regular.woff2') format('woff2'),
    url('/fonts/subset-CormorantGaramond-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

strong,
b {
  font-weight: 700;
  // Browser knows to use the bold variation
}

em,
i {
  font-style: italic;
  // Browser knows to use the italic variation
}

strong em,
b i {
  font-weight: 700;
  font-style: italic;
  // Browser combines bold + italic variation
}

// Config
:root {
  --font-smallest: calc(.85rem + .1vw);
  --font-small: calc(1.25em + .25vw);
}

a.skiplink {
  background-color: white;
  border-style: solid;
  border-width: 1px;
  padding: 0.5em;
  font-variant: small-caps;
  text-decoration: none;
  text-transform: lowercase;
  position: absolute;
  translate: -1000%;
  transition-duration: 0.25s;
}

a.skiplink:focus {
  translate: 0;
}

.download-link {
  // Must be block for text align to work
  display: block;
  text-align: center;
  font-size: var(--font-smallest);
}

body {
  max-width: 70rem;
  margin: 0 auto;
  padding: 16px;
  font-family: "Lato";
}

// Contact info
address {
  display: flex;
  flex-wrap: wrap;
  color: #555;
  font-style: normal;
  font-size: var(--font-smallest);
  font-variant: small-caps;
  text-transform: lowercase;

  &.web {
    gap: 0.25rem 1rem;
  }

  &.print {
    display: none;
  }

  .location {
    color: black;
  }
}

// Page header
header {
  .summary {
    margin-top: 6rem;
    margin-bottom: 5rem;
    font-size: calc(var(--font-small) + 0.2em);
    color: #555;
    max-width: 40rem;
    text-wrap: pretty;
  }

  nav {
    margin-bottom: 10rem;
    display: flex;
    gap: 4rem;
    font-size: var(--font-small);

    div {
      display: grid;
      gap: 1rem;
    }
  }
}

div.employer {
  font-weight: 400;
}

div.skills,
div.experience,
div.projects,
div.volunteer,
div.education {
  display: grid;
  gap: 1rem;
}

h1,
h2 {
  font-variant: small-caps;
  text-transform: lowercase;
}

h1 {
  font-family: "Cormorant Garamond";
  font-size: calc(3.5rem + 3vw);
  margin-top: 6rem;
  margin-bottom: 0.5rem;
  line-height: 0.7;

  .name {
    font-weight: 400;
  }

  .role {
    font-weight: 100;
    // font-size: 0.65em;
    color: #555;
  }
}

h2 {
  margin: 0;
  margin-bottom: 2rem;

  // Typography
  font-size: calc(2.5rem);
  font-weight: 100;

  /* Aligns top with h3 */
  line-height: 0.8;
}

h3,
.h3 {
  margin: 0;
  font-weight: 600;
  font-size: 1.25rem;
  text-wrap: balance;
}

main {
  display: grid;
  gap: 6rem;
}

a {
  color: #555;
  text-decoration: none;
  font-variant: small-caps;
  text-transform: lowercase;
}

a:hover,
a:focus {
  color: black;
}

li {
  text-wrap: pretty;

  // Selected nested lists, as in some skills sections
  &:has(> ul) {
   display: grid;
   gap: 0.5em;
  }
}

time,
.time,
.info {
  color: #555;
  font-size: 0.75rem;
}

main>section {
  border-top-style: solid;
  border-top-width: 0.5px;
  border-top-color: #afafaf;
  padding-top: 3rem;

  ul {
    display: grid;
    gap: 0.5em;
    padding-left: 1.5rem;
  }
}

ul.publications {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  gap: 1rem;
}

::selection {
  color: #fff;
  background-color: #000;
}

@media screen and (min-width: 768px) {

  html {
    font-size: 20px;
  }

  h1 {
    br {
      display: none;
    }
  }

  main>section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
}