@use 'default';

ul.tags {
  @extend .unstyled-list;
  @extend .small-caps;
  max-width: 50rem;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 0.1em;
  font-family: var(--font-2);
  font-weight: 300;
  font-size: 1.25em;
}

li {
  flex: 1;
}

a.tag {
  display: inline-block;
  width: 100%;
  text-align: center;
  border: 1px solid;
  border-radius: 4px;
  padding: 0.5em 1em;
  background-color: var(--accent);
  color: var(--background-color);
  transition: all 0.2s;

  &:hover,
  &:focus {
    text-decoration: none;
    background-color: var(--background-color);
    color: var(--accent);
  }
}