@use 'default';

h2 {
  font-family: inherit;
  font-style: italic;
}

main {
  font-size: 1.25em;
  max-width: 50rem;
  margin: 0 auto;

  p,
  ul,
  ol {
    @extend .justify;
  }
}

a {
  @extend .small-caps;
  letter-spacing: 0.07em;
}