.text-right {
    text-align: right;
}

.unstyled-list {
    list-style-type: none;
    padding: 0;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    
}

.visually-hidden {
    position: absolute;
    left: -1000%;
}