// Layout
%margin-bottom-1 {
    margin-bottom: 1rem;
}

%list-style-none {
    list-style-type: none;
}

%flex {
    display: flex;
}

%flex-column {
    @extend %flex;
    flex-direction: column;
}

%flex-wrap {
    flex-wrap: wrap;
}

%flex-list {
    @extend %flex;
    @extend %list-style-none;
    @extend %flex-wrap;
    padding: 0;
}

%justify-center {
    justify-content: center;
}

%align-center {
    align-items: center;
}

%space-between {
    justify-content: space-between;
}

%space-around {
    justify-content: space-around;
}

%visually-hidden {
    position: absolute;
    left: -1000%;
}

// Typography
%center-text {
    text-align: center;
}

%small-caps {
    font-variant: small-caps;
}

%lowercase {
    text-transform: lowercase;
}

%prepend-slash {
    &::before {
        content: "/";
    }
}

%no-decor {
    text-decoration: none;
}

%hover-no-decor {
    &:hover {
        @extend %no-decor;
    }
}

%underline-hover {
    &:hover,
    &:focus {
        text-decoration: underline;
    }
}

// Make an element float on top of everything else
%front-and-center {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}