.flex-column {
  display: flex;
  flex-direction: column;
}

.small-caps {
  font-variant: small-caps;
  text-transform: lowercase;
}

.underline {
  text-decoration-line: underline;
  text-decoration-thickness: 0.1em;
  text-underline-offset: 0.1em;
}

.unstyled-list {
  list-style: none;
}

// https: //www.w3.org/WAI/tutorials/forms/labels/#note-on-hiding-elements
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}