/* This is a separate file because of issues with ::selection. See below. */
@import url("/src/styles/_reset.css");

@font-face {
  font-family: "Cheveuxdange";
  /* One consistent family name */
  src:
    url("/fonts/subset-Cheveuxdange.woff2") format("woff2");
  font-weight: 400;
  /* Normal weight */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "EB Garamond";
  /* One consistent family name */
  src:
    url("/fonts/subset-EBGaramond-Regular.woff2") format("woff2");
  font-weight: 400;
  /* Normal weight */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "EB Garamond";
  /* Same family name */
  src:
    url("/fonts/subset-EBGaramond-Bold.woff2") format("woff2");
  font-weight: 700;
  /* Bold weight */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "EB Garamond";
  /* Same family name */
  src:
    url("/fonts/subset-EBGaramond-Italic.woff2") format("woff2");
  font-weight: 400;
  /* Normal weight */
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "EB Garamond";
  /* Same family name */
  src:
    url("/fonts/subset-EBGaramond-BoldItalic.woff2") format("woff2");
  font-weight: 700;
  /* Bold weight */
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Courier Prime";
  src:
    url("/fonts/subset-CourierPrime-Regular.woff2") format("woff2");
  font-weight: 400;
  /* Normal weight */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Courier Prime";
  src:
    url("/fonts/subset-CourierPrime-Bold.woff2") format("woff2");
  font-weight: 700;
  /* Normal weight */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Courier Prime";
  src:
    url("/fonts/subset-CourierPrime-Italic.woff2") format("woff2");
  font-weight: 400;
  /* Normal weight */
  font-style: italic;
  font-display: swap;
}

strong,
b {
  font-weight: 700;
  /* Browser knows to use the bold variation */
}

em,
i {
  font-style: italic;
  /* Browser knows to use the italic variation */
}

strong em,
b i {
  font-weight: 700;
  font-style: italic;
  /* Browser combines bold + italic variation */
}

body {
  /* Layout */
  margin: 0 auto;
  padding: 1rem;

  /* Typography */
  font-family: "Courier Prime", "Courier New", Courier, monospace;
  font-size: clamp(1.25rem, 3vw, 1.5rem);
}

a {
  color: black;
  text-decoration: none;

  &:hover {
    color: #666;
  }

  &:not(.published a, .home) {
    font-weight: 700;
  }

  &.home {
    font-variant: small-caps;
    text-transform: lowercase;
    /* Must be relative for underline effect to work */
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 1px;
      background-color: currentColor;
      /* Use the same color as the text */
      transition: width 0.2s ease;
      /* Animate the width */
    }

    &:hover::after,
    &:focus::after {
      width: 100%;
      /* Expand the underline to full width */
    }
  }

  &.entry {
    border-style: double;
    border-color: #666;
    border-width: 5px;
    border-radius: 5px;
    padding: 1rem;
    color: black;
    text-decoration: none;
    transition: 0.25s ease;
    box-shadow: #777 -2px 2px 2px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;

    &:hover,
    &:focus {
      box-shadow: #777 -4px 4px 4px;
    }
  }
}

section.published {
  display: grid;
  margin: 0 auto;
  gap: 1rem;
}

p.intro {
  margin-bottom: 2rem;
  text-wrap: pretty;
}

h1 {
  font-family: "Cheveuxdange", Arial, Helvetica, sans-serif;
  font-weight: 100;
  font-size: clamp(4rem, 10vw, 10rem);
  text-align: center;
  text-wrap: balance;
}

h2 {
  /* Layout */
  padding: 0 1rem;

  /* Typography */
  font-family: "EB Garamond", Georgia, 'Times New Roman', Times, serif;
  font-variant: small-caps;
  font-size: clamp(2rem, 4vw, 3rem);
  text-transform: lowercase;
}

.type.date {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  font-size: clamp(1rem, 2vw, 1.25rem);
}

.outlet {
  font-size: clamp(1rem, 2vw, 1.25rem);
}

/* Utilities */
.gray {
  color: #666;
}

/* Responsive styles */
@media screen and (min-width: 700px) {
  section.published {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 1200px) {
  section.published {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

::selection {
  background-color: black;
  color: white;
}