/* This is a separate file because of issues with ::selection. See below. */

body {
  margin: 0 auto;
  padding: 1rem;
  gap: 1rem;
  font-family: "Courier Prime";
}

section.entries {
  display: grid;
  margin: 0 auto;
  gap: 1rem;
}

span.home {
  margin-right: 3px;
}

a.home {
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
  color: black;
}

a.home::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color: currentColor;
  /* Use the same color as the text */
  transition: width 0.2s ease;
  /* Animate the width */
}

a.home:hover::after,
a.home:focus::after {
  width: 100%;
  /* Expand the underline to full width */
}

a.entry {
  border-style: double;
  border-width: 5px;
  border-radius: 5px;
  padding: 2rem;
  color: black;
  text-decoration: none;
  transition: 0.25s ease;
  box-shadow: #777 -2px 2px 2px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

a.entry:hover,
a.entry:focus {
  box-shadow: #777 -4px 4px 4px;
}

h1 {
  font-family: "Cheveuxdange";
  font-weight: 100;
  font-size: calc(1rem + 8vw);
  text-align: center;
  text-wrap: balance;
}

h2 {
  font-family: "EB Garamond";
  font-variant: small-caps;
  font-size: calc(1rem + 1vw);
  text-wrap: balance;
  line-height: 1;
}

div.type {
  color: #666;
}

/* Responsive styles */
@media screen and (min-width: 700px) {
  section.entries {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 1200px) {
  section.entries {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/* For whatever reason, this doesn't work when in a style block on the page. */
::selection {
  background-color: black;
  color: white;
}