@use "reset";
@use "utilities";

// Should only include styles that apply to *every* page.

:root {
    --monospace: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
}

html {
    font-size: calc(1rem + 0.4vw);
}

body {
    font-family: var(--monospace);
    // font-size: calc(1rem + 0.2vw);
}

.main-menu {
    @extend %flex;
    @extend %flex-wrap;
    @extend %space-between;
    @extend %align-center;
    gap: 1.5rem;
}

.main-menu-links a {
    border: 1px solid black;
    text-decoration: none;
    padding: .25em;
}

.social-links {
    @extend %flex;
    gap: 1rem;
}

#site-header {
    @extend %flex;
    @extend %space-between;
    @extend %flex-wrap;
    @extend %align-center;
    gap: 1rem;
}

#site-logo {
    font-size: 2rem;
    text-decoration: none;
    color: black;
}

#skiplink {
    @extend %visually-hidden;
    border: 0.1rem solid;
    padding: 0.25rem 1rem;
    background-color: white;
    color: black;
    transition-duration: 0.5s;

    @media (prefers-color-scheme: dark) {
        background-color: black;
        color: white;
    }

    &:focus {
        left: 0;
        transition-duration: 0.5s;
    }
}