@use "reset";
@use "config";
@use "utilities";

html {
  background-color: var(--html-color);
}

body {
  background-color: var(--body-color);
  font-family: system-ui, serif;
  font-size: calc(1rem + 0.3vw);
}

section {
  @extend %page-effect;
}

.logo {
  @extend %no-decor;
  font-size: calc(2rem + 2vw);
  color: unset;
}

.main-menu {
  @extend %list-style-none;
  gap: 1em;
}

.social {
  @extend %list-style-none;
  gap: 1em;
}

#skiplink {
  @extend %visually-hidden;
  background-color: var(--body-color);
  border: 1px solid;
  padding: 1em;
  transition-duration: 0.5s;

  &:focus {
    left: -1%;
    transition-duration: 0.5s;
  }
}

#site-footer {
  @extend %text-center;
  padding: 1rem;
}