@use "reset";
@use "utilities";

// Should only include styles that apply to *every* page.

:root {
    --monospace: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
    --text-color: white;
    --background-color: black;
    // https://gogh-co.github.io/Gogh/
    --color-1: #FDED02;
    --color-2: #01A252;
    --color-3: #01A0E4;
    --color-4: #B5E4F4;
    --color-5: #DB2D20;
}

%path {
    color: var(--color-1);
    font-weight: 600;
}

%border-bottom-dashed {
    border-bottom: dashed;
    margin-bottom: 2rem;
}

html {
    font-size: calc(1rem + 0.4vw);
    background-color: white;
    width: 100%;
    height: 100%;
    overflow: auto;
    margin: 0;
    padding: 5rem;
    overflow: hidden;
}

body {
    font-family: var(--monospace);
    background-color: var(--background-color);
    color: var(--text-color);
    max-width: 40rem;
    height: 100%;
    overflow: auto;
    scroll-behavior: smooth;
    padding: 15px;
}

h1,
h2,
h3,
h4 {
    font-size: unset;
}

h1 {
    color: var(--color-2);
}

h2 {
    color: var(--color-4);
}

a {
    @extend %hover-no-decor;
    color: var(--color-3);
    text-underline-offset: 0.2em;
}

.logo {
    margin: 1em auto;

    a {
        @extend %no-decor;
        @extend %underline-hover;
    }
}

nav ul {
    @extend %flex-list;
    @extend %space-between;
    @extend %lowercase;

    a {
        @extend %prepend-slash;
        @extend %no-decor;
        @extend %underline-hover;
    }
}

section {
    @extend %border-bottom-dashed;
}

.path {
    @extend %path;
}

.command {
    color: var(--color-2);
}

.argument {
    color: var(--color-3);
}

.date {
    color: #DB2D20;
    font-weight: 600;
}

#skiplink {
    @extend %visually-hidden;
    border: 0.1rem solid;
    padding: 0.25rem 1rem;
    background-color: white;
    color: black;
    transition-duration: 0.5s;

    @media (prefers-color-scheme: dark) {
        background-color: black;
        color: white;
    }

    &:focus {
        left: 0;
        transition-duration: 0.5s;
    }
}

#site-header {
    @extend %border-bottom-dashed;
}