@use "utilities";

// https://everythingfonts.com/subsetter
// https://transfonter.org/

@font-face {
    font-family: 'Fenwick Woodtype';
    src:
        local('Quentin Caps'),
        url('/fonts/FenwickWoodtype.woff2') format('woff2'),
        url('/fonts/FenwickWoodtype.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    --color-1: #e8e8e8;
    --color-2: #595959;
    --color-3: #999;
}

html {
    background-color: var(--color-1);
}

body {
    background-color: #f5f5f5;
    max-width: 50rem;
    margin: 0 auto;
    padding: 0.5rem;

    // https://modernfontstacks.com
    font-family: "Iowan Old Style", 'Palatino Linotype', 'URW Palladio L', P052, serif;

    @media screen and (min-width: 800px) {
        margin: 1rem auto;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    }
}

h1 {
    margin: 0;

    font: {
        size: calc(4rem + 4vw);
        family: "Fenwick Woodtype", 'Palatino Linotype', 'URW Palladio L', P052, serif;
        weight: lighter;
    }

    text: {
        align: center;
        transform: uppercase;
    }
}

h2 {
    font: {
        family: "Copperplate";
        weight: lighter;
        size: inherit;
    }

    color: var(--color-2);

    text-align: center;
}

// Links

a {
    font: {
        variant: small-caps;
    }

    color: unset;

    text: {
        decoration: {
            line: underline;
            thickness: 0.04em;
            color: var(--color-3);
        }

        underline-offset: 0.2em;
    }

    &:hover {
        text-decoration-style: dotted;
        color: var(--color-2);
    }
}

a.tag {
    text-decoration-style: dotted;
    text-decoration-color: inherit;

    &:hover {
        color: black;
        text-decoration-style: solid;
    }
}

section {
    padding: 2rem 0;
    text-align: center;
}

.main-menu-links {
    @extend %flex;
    @extend %flex-wrap;
    @extend %list-style-none;
    padding: 0;
    margin: 0;
    gap: 1rem;
    justify-content: space-evenly;
    font-size: 1rem;
}

.page-header {
    @extend %flex-column;
    gap: 1rem;
    text-align: center;
}

.container-menu-main {
    hr {
        border-left: none;
        border-right: none;
    }

    hr.first {
        color: black;
        border-top: 2px solid black;
        border-bottom: 1px solid black;
        padding: 0.03rem;
    }

    hr.second {
        color: black;
        border-top: 1px solid black;
        border-bottom: 2px solid black;
        padding: 0.03rem;
    }
}

.postlist {
    @extend %list-style-none;
    padding: unset;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-wrap: balance;
}

.tagline {
    font-style: italic;
    text-wrap: balance;
}

.date-banner {
    @extend %flex;
    font-family: Copperplate;
    font-weight: 300;
    color: var(--color-2);

    time,
    .location {
        font-size: 0.75rem;

        @media screen and (max-width: 500px) {
            display: none;
        }
    }
}

.est {
    margin: 0 auto;
}

.tags {
    @extend %list-style-none;
    @extend %flex;
    @extend %flex-wrap;
    @extend %justify-center;
    margin: 0;
    padding: 0;
    font-size: 0.9rem;
    color: var(--color-2);
    gap: 1em;
}

.postlist-item {
    border: {
        style: solid;
        width: 0.01rem;
        color: black;
    }

    padding: 1rem;
}

.post-title {
    display: inline-block;
}

#latest {
    text-align: center;

    border: {
        bottom: {
            style: solid;
            width: 0.1rem;
        }
    }

    h2 {
        margin: 0;
    }

    .post-title {
        font-size: 1.75rem;
        padding: 1em 0;
    }
}

#archive {

    .post-title {
        font-size: 1.25rem;
        padding: 0.5em 0;
    }
}

#footer-main {
    text-align: center;

    font: {
        size: 0.75rem;
    }

    a {
        color: var(--color-2);

        &:hover {
            color: black;
        }
    }
}