@use 'reset';
@use 'utils';

@view-transition {
  navigation: auto;
}

html {
  background-color: var(--text-color);
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

p,
ul,
ol {
  line-height: 1.3;
}

h1,
h2,
h3 {
  text-wrap: balance;
}

a {
  color: inherit;
  text-decoration: none;
}



::selection {
  background-color: var(--text-color);
  color: var(--background-color);
}

code,
samp {
  font-family: var(--font-body);
  font-weight: 700;
}