@use 'reset';

@view-transition {
  navigation: auto;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

h1,
h2,
h3 {
  text-wrap: balance;
}

::selection {
  background-color: var(--text-color);
  color: var(--background-color);
}

code,
samp {
  font-family: var(--font-body);
  font-weight: 700;
}