@import url("/src/styles/_fonts.css");
@import url("/src/styles/_reset.css");
@import url("/src/styles/_utilities.css");

:root {
  /* Colors */
  --text-color: #1a1a1a;
  --background-color: #f5f5f5;
  --link-color: #2754d8;

  @media (prefers-color-scheme: dark) {
    /* Dark mode styles */
    --text-color: #ffffff;
    --background-color: #1a1a1a;
    --link-color: #6699ff;
  }

  /* Fonts */
  --body-font: "EB Garamond",
  serif;
  --bold: "EB Garamond Bold",
  serif;
  --italic: "EB Garamond Italic",
  serif;
  --bold-italic: "EB Garamond Bold-Italic",
  serif;
  --monospace: ui-monospace,
  "Cascadia Code",
  "Source Code Pro",
  Menlo,
  Consolas,
  "DejaVu Sans Mono",
  monospace;
}

html {
  background-color: var(--background-color);
}

body {
  margin: 0 auto;
  padding: 1rem;
  max-width: 60rem;
  display: flex;

  /* https://modernfontstacks.com/ */
  font-family: var(--body-font);
  font-size: 1.25rem;
  color: var(--text-color);
}

main {
  flex: 1;
}

main p {
  text-align: justify;
  hyphens: auto;
}

p,
ul,
ol {
  line-height: 1.5;
}

h1,
h2,
h3 {
  font-variant: small-caps;
}

h1 {
  font-size: 2em;
  margin: 0;
}

h2,
h4 {
  text-align: right;
  border-bottom-style: dotted;
  border-bottom-width: 1px;
  margin-top: 2em;
}

h3 {
  margin-top: 2em;
}

a {
  color: var(--link-color);
  text-decoration-thickness: 0.05em;
  text-underline-offset: 0.2em;
}

a:not(.skiplink):hover,
a:not(.skiplink):focus,
a:not(.skiplink):active {
  text-decoration: none;
  opacity: 70%;
}

.content-container {
  flex: 1;
}