@import url("/src/styles/_fonts.css");
@import url("/src/styles/_reset.css");
@import url("/src/styles/_utilities.css");

:root {
  /* Fonts */
  --monospace: ui-monospace,
    "Cascadia Code",
    "Source Code Pro",
    Menlo,
    Consolas,
    "DejaVu Sans Mono",
    monospace;
  --font-small: clamp(1rem, 6vw, 1.25rem);
  --font-medium: clamp(1.5rem, 8vw, 2rem);

  /* Colors */
  color-scheme: light dark;
  --text-color: light-dark(#000, #fff);
  --background-color: light-dark(#fff, #000);
  --accent: light-dark(#666, #bfbfbf);

  // Keep this for writeup
  // @media (prefers-color-scheme: dark) {
  //   /* Dark mode styles */
  //   --text-color: #ffffff;
  //   --background-color: #000000;
  //   --accent: #bfbfbf;
  // }
}

html {
  background-color: var(--background-color);
  color: var(--text-color);
}

body {
  margin: 0 auto;
  padding: 1rem;
  max-width: 70rem;
  display: flex;

  font-family: "EB Garamond", Georgia, serif;
  font-size: clamp(1rem, 6vw, 1.5rem);
}

main {
  flex: 1;

  p,
  ul,
  ol {
    text-align: justify;
    hyphens: auto;
  }
}

p,
ul,
ol {
  line-height: 1.3;
}

h1,
h2,
h3 {
  text-wrap: balance;
  line-height: 1;
  letter-spacing: 2px;
}

h1 {
  font: {
    family: "EB Garamond", serif;
    variant: small-caps;
    weight: 900;
    size: clamp(2.75rem, 6vw, 3.5rem);
  }

  text: {
    transform: lowercase;
  }

  margin: 0;
}

h2 {
  font: {
    size: clamp(2.5rem, 6vw, 3rem);
    weight: 400;
  }

  text: {
    align: right;
  }

  padding-top: 0.25rem;
}

h2,
h4 {

  // text-align: right;
  border-top: {
    style: solid;
    width: 0.01em;
  }

  margin-top: 2em;
}

h3 {
  margin-top: 2em;
}

a {
  color: inherit;
  text-decoration: none;
  transition-duration: 0.1s;
}

a:not(.skiplink):hover,
a:not(.skiplink):focus,
a:not(.skiplink):active {
  color: var(--accent);
}

// Page content
.content-container {
  flex: 1;

  a:not(nav a, .tag) {
    font-variant: small-caps;
    text-transform: lowercase;
    letter-spacing: 0.75px;
  }
}

::selection {
  background-color: var(--text-color);
  color: var(--background-color);
}

blockquote {
  font-style: italic;
  margin: 0 1rem;
  border-left-style: solid;
  border-left-width: 1px;
  padding-left: 1rem;
}

blockquote p {
  margin: 0;

  cite {
    font-style: normal;
    display: block;
    margin-top: 1em;
  }
}