@import url("/src/styles/_fonts.css");
@import url("/src/styles/_reset.css");
@import url("/src/styles/_utilities.css");

:root {
  /* Colors */
  --text-color: #000000;
  --background-color: #ffffff;
  --accent: #666;

  /* Fonts */
  --monospace: ui-monospace,
    "Cascadia Code",
    "Source Code Pro",
    Menlo,
    Consolas,
    "DejaVu Sans Mono",
    monospace;

  @media (prefers-color-scheme: dark) {
    /* Dark mode styles */
    --text-color: #ffffff;
    --background-color: #000000;
    --accent: #bfbfbf;
  }
}

html {
  background-color: var(--background-color);
}

body {
  margin: 0 auto;
  padding: 1rem;
  max-width: 70rem;
  display: flex;

  font-family: "EB Garamond", Georgia, serif;
  font-size: calc(1rem + 0.5vw);
  color: var(--text-color);
}

main {
  flex: 1;
}

p,
ul,
ol {
  line-height: 1.3;
}

h1,
h2,
h3 {
  font-variant: small-caps;
  text-wrap: balance;
}

h1 {
  font-size: 2em;
  margin: 0;
  line-height: 1;
}

h2,
h4 {
  text-align: right;
  border-bottom-style: dotted;
  border-bottom-width: 1px;
  margin-top: 2em;
}

h3 {
  margin-top: 2em;
}

a {
  color: inherit;
  font-variant: small-caps;
  text-decoration: none;
  transition-duration: 0.1s;
}

a:not(.skiplink):hover,
a:not(.skiplink):focus,
a:not(.skiplink):active {
  color: var(--accent);
}

.content-container {
  flex: 1;
}

::selection {
  background-color: var(--text-color);
  color: var(--background-color);
}

blockquote {
  font-style: italic;
  margin: 0 1rem;
  border-left-style: solid;
  border-left-width: 1px;
  padding-left: 1rem;
}

blockquote p {
  margin: 0;
}

cite {
  font-style: normal;
  display: block;
  margin-top: 1em;
}