// https://piccalil.li/blog/a-more-modern-css-reset/
// https://github.com/necolas/normalize.css/tree/master

// Box sizing rules
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  // font-size: 16px;
  scroll-behavior: smooth;
  // Force scrollbar
  overflow-y: auto;
}

h1,
h2 {
  text-wrap: balance;
}

body {
  min-height: 100vh;
  font-weight: 400;
}

// Correct the inheritance and scaling of font size in all browsers
pre,
code,
kbd,
samp {
  font-family: monospace;
}

// Add the correct font weight in Chrome, Edge, and Safari
b,
strong {
  font-weight: bolder;
}

// Inherit fonts for inputs and buttons
input,
button,
textarea,
select {
  font: inherit;
}