@font-face {
  font-family: 'Bebas Neue';
  src: url('/fonts/subset-BebasNeue-Regular.woff2') format('woff2'),
    url('/fonts/subset-BebasNeue-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bebas Fallback';
  src: local('Verdana'); // Good support on Windows and Mac. See cssfontstack.com
  font-weight: normal;
  font-style: normal;
  size-adjust: 75%;
}