@font-face {
  font-family: 'CMU Bright';
  src: url('/fonts/subset-CMUBright-Roman.woff2') format('woff2'),
    url('/fonts/subset-CMUBright-Roman.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'CMU Bright';
  src: url('/fonts/subset-CMUBright-SemiBold.woff2') format('woff2'),
    url('/fonts/subset-CMUBright-SemiBold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}