@font-face {
  font-family: 'Noto';
  src: url('/fonts/noto.woff2') format('woff2'),
    url('/fonts/noto.woff') format('woff');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto';
  src: url('/fonts/noto-italic.woff2') format('woff2'),
    url('/fonts/noto-italic.woff') format('woff');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Fallback';
  src: local('Georgia'); // Good support on Windows and Mac. See https://cssfontstack.com
  font-weight: normal;
  font-style: normal;
  size-adjust: 90%;
}