---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
import Tags from "../../components/Tags.astro";

// Styles
import "/src/styles/default.scss";

const posts = await getCollection("blog");
const tags = [...new Set(posts.map((post) => post.data.tags).flat())];
---

<BaseLayout title="tags">
  <header aria-label="Page Header">
    <h1>#tags</h1>
  </header>
  <hr />
  <div class="tags">
    <Tags tags={tags} />
  </div>
</BaseLayout>

<style>
  h1 {
    text-transform: lowercase;
  }

  .tags {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
  }
</style>
