---
import { getCollection } from "astro:content";
import Base from "../../layouts/Base.astro";
import Tags from "../../components/Tags.astro";

const posts = await getCollection("blog");
const tags = [...new Set(posts.map((post) => post.data.tags).flat())];
---

<Base title="tags">
  <header aria-label="Page Header">
    <h1>#Tags</h1>
  </header>
  <hr />
  <div class="tags">
    <Tags tags={tags} />
  </div>
</Base>

<style>
  h1 {
    text-transform: lowercase;
  }
  
  .tags {
      display: flex;
      gap: 2rem;
      flex-wrap: wrap;
    }
</style>