---
// Layout
import BaseLayout from "../../layouts/BaseLayout.astro";

// Components
import Tags from "../../components/Tags.astro";

// Collections
import { getCollection } from "astro:content";

// Styles
import "/src/styles/tags-index.scss";

// Variables
const posts = await getCollection("blog");
const tags = [...new Set(posts.map((post) => post.data.tags).flat())];
---

<BaseLayout title="tags">
  <header class="header-page" aria-label="Page Header">
    <h1>#tags</h1>
  </header>
  <Tags tags={tags} />
</BaseLayout>
