---
import Base from "@/layouts/Base.astro";
import Email from "@/components/Email.astro";

import "@/styles/_default.scss";

const preloadFonts = ["cormorant, noto-sans"];
---

<Base
  title="Page Not Found"
  description="404 — Page Not Found"
  preloadFonts={preloadFonts}
>
  <header>
    <h1>Page Not Found</h1>
  </header>
  <main>
    <p>
      It looks like this page doesn't exist. If you think this is a mistake,
      please
      <Email>email me</Email>.
    </p>
  </main>
</Base>

<style is:global lang="scss">
  a {
    font-variant: small-caps;
    text-transform: lowercase;

    &:hover,
    &:focus {
      text-decoration: underline;
      text-decoration-thickness: 0.1em;
      text-underline-offset: 0.1em;
    }
  }
</style>
