---
import Base from "@layouts/Base.astro";
import Head from "@components/Head.astro";
import Email from "@components/Email.astro";
import "@styles/_default.scss";
import { author } from "config.mjs";

const preloadFonts = ["cormorant, noto-sans"];
---

<Base>
  <Head
    slot="head"
    title="Home"
    description="404 — Page Not Found"
    preloadFonts={preloadFonts}
  />
  <header>
    <nav><a href="/">Home</a></nav>
    <h1>Page Not Found</h1>
  </header>
  <main>
    <p>
      It looks like this page doesn't exist. If you think this is a mistake,
      please
      <Email>email me</Email>.
    </p>
  </main>
</Base>

<style>
  body {
    main {
      font-size: 1.25em;
    }

    main a {
      font-variant: small-caps;
      text-transform: lowercase;
    }
  }
</style>
