---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Home">
  <h1>About Me</h1>

  <p>
    If you arrived here from the home page, you probably already know that I'm a
    web developer. If this is news to you, check out the <a href="/projects/"
      >projects page</a
    >, then kindly <a href="mailto:samuelfeldstein@proton.me">hire me</a>.
  </p>

  <p>
    What else? We could start with where I'm from, but I'm not going to tell you
    that. Instead I'll give you a hint: It's not Idaho or Ohio.
  </p>

  <h2>Hobbies</h2>

  <p>
    I used to want to be a <a
      href="https://notebook.samfeldstein.xyz/notes/published-writing/"
      >writer</a
    >. I've mostly given that up, but I still write the occasional <a
      href="/blog/">blog post</a
    >, and I'm pretty active in <a href="https://notebook.samfeldstein.xyz/"
      >my notebook</a
    >.
  </p>

  <p>
    I began taking dance lessons in 2024 after getting fed up with being jealous
    of how much fun people who knew how to dance were having. I've focussed on
    West Coast Swing thus far, but I've also taken a handful of Two Step and
    Country Swing classes.
  </p>

  <p>I also practice jiu-jitsu.</p>
</BaseLayout>
