---
// Layout
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="About" ogTitle="About Sam Feldstein">
  <h1>About Me</h1>
  <p>
    If you arrived here from the home page, you probably already know that
    I&#39;m a web developer. If this is news to you, check out the <a
      href="/websites/">websites page</a
    >, then kindly <a href="mailto:samuelfeldstein@proton.me">hire me</a>.
  </p>
  <p>
    What else? We could start with where I&#39;m from, but I&#39;m not going to
    tell you that. Instead I&#39;ll give you a hint: It&#39;s not Idaho or Ohio.
    I&#39;m currently in Boulder, but I&#39;ve also lived in Iowa City, Southern
    California, and Far West Texas.
  </p>
  <h2 id="hobbies">Hobbies</h2>
  <p>
    I used to want to be a <a
      href="https://notebook.samfeldstein.xyz/notes/published-writing/"
      >writer</a
    >, but I&#39;ve mostly given that up. I still write the occasional <a
      href="/blog/">blog post</a
    >, and I&#39;m pretty active in <a href="https://notebook.samfeldstein.xyz/"
      >my notebook</a
    >.
  </p>
  <p>I&#39;ve been an amateur <a href="/photos/">photographer</a> for years.</p>
  <p>
    I began taking dance lessons in 2024 after getting fed up with being jealous
    of how much fun people who knew how to dance were having. I&#39;ve focussed
    on West Coast Swing thus far, but I&#39;ve also taken a handful of Two Step
    and Country Swing classes.
  </p>
  <p>
    I like cooking, especially for company. The biggest meal I&#39;ve ever
    prepared was a Thanksgiving dinner for ~25 guests. I earned extra points for
    making two versions of everything: one for normal people, and one for my
    roommate at the time who was allergic to literally everything except flour
    and water.
  </p>
  <p>I practice jiu-jitsu, but I&#39;m bad at it.</p>
  <p>
    I want to learn guitar and piano. I took lessons once upon a time, but that
    was before I learned how to love learning and I didn&#39;t stick with it.
  </p>
  <p>
    Speaking of learning, is that a hobby? I like knowing things because it
    makes me look smarter than I am. I collect knowledge with <a
      href="https://apps.ankiweb.net/">Anki</a
    > and my <a href="https://notebook.samfeldstein.xyz/">notebook</a>.
  </p>
  <h2 id="things-i-use">Things I Use</h2>
  <h3 id="web-development">Web Development</h3>
  <p>
    A 15-inch MacBook Air (Apple M2, 2023) does everything I need it to do with
    zero problems. My mouse is an <a
      href="https://www.logitech.com/en-us/products/mice/mx-master-3s-mac-bluetooth-mouse.910-006570.html?srsltid=AfmBOoo2Xc7jTQQ4c4zKe8gUs70L2M_3pkXTCLZSvoVpXCdnlWZQNmYi"
      >MX Master 3S for Mac</a
    >, which is pretty gentle on my fingers and wrists, but I still have a
    little soreness, so I wear some Walgreens compression gloves which help a
    ton.
  </p>
  <p>
    I code in VS Code. I use <a href="https://github.com/seldstein/">GitHub</a> for
    version control. I develop in <a href="https://www.google.com/chrome/"
      >Google Chrome</a
    > and sometimes <a href="https://www.mozilla.org/en-US/firefox/developer/"
      >Firefox Developer Edition</a
    >. I design in <a href="https://www.figma.com">Figma</a>.
  </p>
  <p>
    I built this website with <a href="https://astro.build/">Astro</a>, and I
    built my <a href="https://notebook.samfeldstein.xyz/">notebook</a> with <a
      href="https://www.11ty.dev">Eleventy</a
    >.
  </p>
  <h3 id="writing-and-reading">Writing and Reading</h3>
  <p>
    I write in <a href="https://obsidian.md/">Obsidian</a>. <a
      href="https://enso.sonnet.io/">Enso</a
    > comes in handy for distraction-free word-dumping. I&#39;d use <a
      href="https://www.beat-app.fi">beat</a
    > if I still wrote screenplays, except maybe not, because <a
      href="https://code.visualstudio.com/">VS Code</a
    > has a great <a
      href="https://marketplace.visualstudio.com/items?itemName=piersdeseilligny.betterfountain"
      >fountain plugin</a
    >.
  </p>
  <p>
    I track feeds and read articles with <a href="https://readwise.io/"
      >Readwise</a
    >. For books, I have a Kindle and a library card. The <a
      href="https://archive.org">Internet Archive</a
    > often comes in handy.
  </p>
  <p>
    Readwise is also where I keep all my annotations. All notes I take in <a
      href="https://read.readwise.io">Readwise Reader</a
    >, on my Kindle, or in iBooks show up in my Readwise database, which I
    export to Google Drive and Obsidian.
  </p>
  <p>
    I track books I&#39;ve read and want to read with <a
      href="https://www.librarything.com/home">LibraryThing</a
    >.
  </p>
  <p>
    I memorize information with <a href="https://apps.ankiweb.net/">Anki</a>.
  </p>
  <p><strong>Reference materials:</strong></p>
  <ul>
    <li><em>The New Oxford American Dictionary</em> (macOS)</li>
    <li>
      <a href="https://www.merriam-webster.com/"><em>Merriam-Webster</em></a>
    </li>
    <li>
      <a href="https://www.thefreedictionary.com/">The Free Dictionary</a>
    </li>
    <li><a href="https://www.thesaurus.com/">Thesaurus.com</a></li>
    <li><em>Roget’s Thesaurus</em></li>
    <li>
      <a href="https://www.etymonline.com/">Online Etymology Dictionary</a>
    </li>
    <li>
      <a href="https://github.com/cmod/websters-1913"
        ><em>Webster&#39;s 1913 Dictionary</em></a
      > (macOS)
    </li>
  </ul>
  <h3 id="photography">Photography</h3>
  <p>
    I have a <a
      href="https://electronics.sony.com/imaging/interchangeable-lens-cameras/aps-c/p/ilce6000l-b?srsltid=AfmBOoq-RLburCCFwOBMuWQ0q0_7j6nLw0aMH20v7ioOyqPar6GfYiqW"
      >Sony a6000</a
    > that I mostly pair with a <a
      href="https://7artisans.store/products/7artisans-35mm-f1-2-ii"
      >7Artisans 35mm f/1.2 lens</a
    >. The lens was only $150 but it feels far from cheap. It has some
    vignetting around the edges if you open the aperture too wide, but I think
    it gives the photos texture, and I love the way it captures colors.
  </p>
  <p>
    I edit in Lightroom Classic, and I share photos on <a
      href="https://www.instagram.com/sam.feldstein/">Instagram</a
    >.
  </p>
  <h3 id="other">Other</h3>
  <p>
    I browse the Web with <a href="https://vivaldi.com">Vivaldi</a>. I use <a
      href="https://programmablesearchengine.google.com/about/"
      >Google Programmable Search</a
    > to curate results.
  </p>
  <p>
    I have a Toyota Corolla that I&#39;ve taken all the over the country. If it
    had cruise control and all-wheel drive it&#39;d be the perfect vehicle.
    100,000 miles and all I&#39;ve ever done to it is change the oil, swap the
    battery, and replace the tires.
  </p>
</BaseLayout>
