---
import BaseLayout from "../layouts/BaseLayout.astro";

// Blogroll
const blogs = [
  {
    author: "Gwern Branwen",
    title: "gwern.net",
    url: "https://gwern.net/",
  },
  {
    author: "Jonathan Basile",
    title: "Library of Babel",
    url: "https://libraryofbabel.info",
  },
  {
    author: "Maggie Appleton",
    title: "maggieappleton.com",
    url: "https://maggieappleton.com/",
  },
  {
    author: "Maria Popova",
    title: "The Marginalian",
    url: "https://www.themarginalian.org/",
  },
  {
    author: "Paul Graham",
    title: "paulgraham.com",
    url: "https://www.paulgraham.com/",
  },
  {
    author: "Scott Aaronson",
    title: "Shtetl-Optimized",
    url: "https://scottaaronson.blog/",
  },
  {
    author: "Scott Alexander",
    title: "Astral Codex Ten",
    url: "https://www.astralcodexten.com/",
  },
  {
    author: "Tim Urban",
    title: "Wait But Why",
    url: "https://waitbutwhy.com/",
  },
];
---

<BaseLayout
  title="Blogs I Read + Websites I Like"
  description="Blogs I read + websites I like."
>
  <h1>Blogs I Read + Websites I Like</h1>

  <ul>
    {
      blogs.map((blog) => (
        <li>
          <a href={blog.url}>
            <span class="author">{blog.author} @</span>
            <span class="title">
              <em>{blog.title}</em>
            </span>
          </a>
        </li>
      ))
    }
  </ul>
</BaseLayout>

<style>
  h1 {
    margin-bottom: 2em;
  }

  ul {
    list-style-type: none;
    padding: 0;
    display: grid;
    gap: 2rem;
  }

  a {
    color: unset;
  }

  .title {
    font-size: var(--font-medium);
    font-variant: normal;
    text-transform: none;
    text-wrap: balance;
  }

  .author {
    font-size: var(--font-medium);
    font-variant: small-caps;
  }
</style>
