---
import BaseLayout from "../layouts/BaseLayout.astro";
import Blogroll from "../components/Blogroll.astro";
---

<BaseLayout title="Blogroll">
  <h1>Blogroll</h1>
  <p>
    My favorite blogs and websites, but not the only ones I read. The list will
    remain incomplete until I learn more about APIs, at which point I will
    connect it to <a href="https://readwise.io/">Readwise</a>.
  </p>
  <Blogroll />
</BaseLayout>
