---
import BaseLayout from "../layouts/BaseLayout.astro";

const schema = {
  "@context": "https://schema.org",
  "@type": "ItemList",
  name: "Blogs I Read | Sam Feldstein",
  url: "https://samfeldstein.xyz/blogroll/",
  description: "Blogs I read + personal websites I enjoy and admire.",
};

// Blogroll
const blogs = [
  {
    author: "Adam Newbold",
    title: "omg.lol",
    url: "https://home.omg.lol",
  },
  {
    author: "Alan Jacobs",
    title: "The Homebound Symphony",
    url: "https://blog.ayjay.org/",
  },
  {
    author: "Awwwards Panel",
    title: "Awwwards",
    url: "https://www.awwwards.com",
  },
  {
    author: "Freddie deBoer",
    title: "Freddie deBoer's Blog",
    url: "https://freddiedeboer.substack.com/",
  },
  {
    author: "Gwern Branwen",
    title: "gwern.net",
    url: "https://gwern.net/",
  },
  {
    author: "Henrik Karlsson",
    title: "Escaping Flatland",
    url: "https://www.henrikkarlsson.xyz/",
  },
  {
    author: "Henry Desroches",
    title: "True Terrors of the New Dark Web",
    url: "https://henry.codes",
  },
  {
    author: "Henry Desroches",
    title: "Hire Me (please)",
    url: "https://hireme.website",
  },
  {
    author: "Henry Desroches",
    title: "Strange Website",
    url: "https://strange.website"
  }
  {
    author: "Kheoh Yee Wei",
    title: "The Best Films on Wikipedia",
    url: "https://kudos.wiki",
  },
  {
    author: "Maria Popova",
    title: "The Marginalian",
    url: "https://www.themarginalian.org/",
  },
  {
    author: "Matt Round",
    title: "vole.wtf",
    url: "https://vole.wtf",
  },
  {
    author: "Neal Agarwal",
    title: "neal.fun",
    url: "https://neal.fun",
  },
  {
    author: "Paul Graham",
    title: "paulgraham.com",
    url: "https://www.paulgraham.com/",
  },
  {
    author: "Scott Aaronson",
    title: "Shtetl-Optimized",
    url: "https://scottaaronson.blog/",
  },
  {
    author: "Scott Alexander",
    title: "Astral Codex Ten",
    url: "https://www.astralcodexten.com/",
  },
  {
    author: "Sefaria",
    title: "sefaria.org",
    url: "https://www.sefaria.org/texts",
  },
  {
    author: "Sharif Shameem",
    title: "En",
    url: "https://en.app",
  },
  {
    author: "Tim Urban",
    title: "Wait But Why",
    url: "https://waitbutwhy.com/",
  },
  {
    author: "Viktor Lofgren",
    title: "Marginalia",
    url: "https://www.marginalia.nu",
  },
  {
    author: "waferbaby",
    title: "Uses This",
    url: "https://usesthis.com",
  },
];
---

<BaseLayout
  title="Blogs I Read + Websites I Like"
  description="Blogs I read + personal websites I enjoy and admire."
  schema={schema}
>
  <h1>Blogs I Read + Websites I Like</h1>
  <ul>
    {
      blogs.map((blog) => (
        <li>
          <a href={blog.url}>
            <div class="author">
              <strong>{blog.author}</strong>
            </div>
            <div class="title">
              <em>{blog.title}</em>
            </div>
          </a>
        </li>
      ))
    }
  </ul>
</BaseLayout>

<style>
  ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
    display: grid;
    gap: 1rem;
  }

  a {
    border-style: solid;
    border-width: 1px;
    padding: 1.5rem;
    display: grid;
    gap: 1rem;
    text-decoration: none;
    color: unset;
  }

  a:hover,
  a:focus {
    text-decoration: underline;
    text-decoration-thickness: 0.05em;
    text-underline-offset: 0.2em;
  }

  .title {
    font-size: 2rem;
    text-wrap: balance;
  }

  .author {
    font-size: 1.5rem;
    font-variant: small-caps;
  }
</style>
