---
import Base from "@layouts/Base.astro";
import Head from "@components/Head.astro";
import HtmlIcon from "@components/HtmlIcon.astro";
import CssIcon from "@components/CssIcon.astro";
import JsIcon from "@components/JsIcon.astro";
import AstroIcon from "@components/AstroIcon.astro";
import EleventyIcon from "@components/EleventyIcon.astro";
import GitIcon from "@components/GitIcon.astro";
import CloudflareIcon from "@components/CloudflareIcon.astro";
import FigmaIcon from "@components/FigmaIcon.astro";
import WordPressIcon from "@components/WordPressIcon.astro";
import TerminalIcon from "@components/TerminalIcon.astro";

// Styles
import "../styles/_code.scss";

// Projects
const projects = [
  {
    name: "Shelf Talker Generator",
    type: "Web App",
    date: "June 2025",
    url: "https://shelftalkers.samfeldstein.xyz",
    source: "https://github.com/samfeldstein/shelf-talkers",
  },
  {
    name: "The Simplest Writing Tracker",
    type: "Terminal App",
    date: "May 2025",
    source: "https://github.com/samfeldstein/writing-tracker",
  },
  {
    name: "Cookbook",
    type: "Website",
    date: "March 2025",
    url: "https://cookbook.samfeldstein.xyz/",
    source: "https://github.com/samfeldstein/cookbook",
  },
  {
    client: "Regreen Big Bend",
    type: "Website",
    date: "February 2025",
    url: "https://regreenbigbend.com",
  },
  {
    client: "Postoley Dance Ensemble",
    type: "Website",
    date: "February 2025",
    url: "https://danceophile.com",
  },
  {
    name: "Digital Notebook",
    type: "Website",
    date: "October 2024",
    url: "https://notebook.samfeldstein.xyz/",
    source: "https://github.com/samfeldstein/notebook",
  },
  {
    client: "Prairie Rose Arena",
    type: "Website",
    date: "May 2024",
    url: "https://prairierosearena.com/",
    notes: "https://notebook.samfeldstein.xyz/notes/prairie-rose-arena-notes",
  },
  {
    name: "Pairings",
    type: "Web App",
    date: "May 2024",
    url: "https://pairingapp.netlify.app",
    source: "https://github.com/samfeldstein/pairings",
    notes: "https://notebook.samfeldstein.xyz/notes/pairings-notes",
  },
];

// const personal = projects.filter((project) => project.name);
// const professional = projects.filter((project) => project.client);
---

<Base>
  <Head
    slot="head"
    title="Code"
    description="Websites and applications, for work and personal projects."
    ogType="website"
  />
  <header>
    <a class="home" href="/">Home</a>
    <hgroup>
      <h1>Code</h1>
      <div class="code-icons">
        <figure>
          <HtmlIcon />
          <figcaption>HMTL</figcaption>
        </figure>

        <figure>
          <CssIcon />
          <figcaption>CSS</figcaption>
        </figure>

        <figure>
          <JsIcon />
          <figcaption>JavaScript</figcaption>
        </figure>

        <figure>
          <AstroIcon />
          <figcaption>Astro</figcaption>
        </figure>

        <figure>
          <EleventyIcon />
          <figcaption>Eleventy</figcaption>
        </figure>

        <figure>
          <GitIcon />
          <figcaption>Git</figcaption>
        </figure>

        <figure>
          <TerminalIcon />
          <figcaption>Bash</figcaption>
        </figure>

        <figure>
          <FigmaIcon />
          <figcaption>Figma</figcaption>
        </figure>

        <figure>
          <CloudflareIcon />
          <figcaption>Cloudflare</figcaption>
        </figure>

        <figure>
          <WordPressIcon />
          <figcaption>WordPress</figcaption>
        </figure>
      </div>
    </hgroup>
  </header>

  <main id="main-content">
    <ul class="projects">
      {
        projects.map((project) => (
          <li class="project">
            <a class="name" href={project.url || project.source}>
              {project.name || project.client}
            </a>
            <div class="info">
              <span>{project.type} | </span>
              <time>{project.date}</time>
              {project.notes && (
                <>
                  <span>|</span>
                  <a href={`${project.notes}`}>Notes</a>
                </>
              )}
              {project.source && (
                <>
                  <span>|</span>
                  <a href={`${project.source}`}>Source</a>
                </>
              )}
            </div>
          </li>
        ))
      }
    </ul>
  </main>
</Base>
