---
import Base from "@layouts/Base.astro";
import Head from "@components/Head.astro";

import "../styles/_code.scss";

const projects = [
  {
    name: "Shelf Talker Generator",
    type: "Web App",
    date: "June 2025",
    url: "https://shelftalkers.samfeldstein.xyz",
    source: "https://github.com/samfeldstein/shelf-talkers",
  },
  {
    name: "The Simplest Writing Tracker",
    type: "Terminal App",
    date: "May 2025",
    source: "https://github.com/samfeldstein/writing-tracker",
  },
  {
    name: "Cookbook",
    type: "Website",
    date: "March 2025",
    url: "https://cookbook.samfeldstein.xyz/",
    source: "https://github.com/samfeldstein/cookbook",
  },
  {
    client: "Regreen Big Bend",
    type: "Website",
    date: "February 2025",
    url: "https://regreenbigbend.com",
  },
  {
    client: "Postoley Dance Ensemble",
    type: "Website",
    date: "February 2025",
    url: "https://danceophile.com",
  },
  {
    name: "Digital Notebook",
    type: "Website",
    date: "October 2024",
    url: "https://notebook.samfeldstein.xyz/",
    source: "https://github.com/samfeldstein/notebook",
  },
  {
    client: "Prairie Rose Arena",
    type: "Website",
    date: "May 2024",
    url: "https://prairierosearena.com/",
    notes: "https://notebook.samfeldstein.xyz/notes/prairie-rose-arena-notes",
  },
  {
    name: "Pairings",
    type: "Web App",
    date: "May 2024",
    url: "https://pairingapp.netlify.app",
    source: "https://github.com/samfeldstein/pairings",
    notes: "https://notebook.samfeldstein.xyz/notes/pairings-notes",
  },
];

// const personal = projects.filter((project) => project.name);
// const professional = projects.filter((project) => project.client);
---

<Base>
  <Head
    slot="head"
    title="Code"
    description="Websites and applications, for work and personal projects."
    ogType="website"
  />
  <header>
    <a class="home" href="/">Home</a>
    <hgroup>
      <h1>Code I’ve Written</h1>
      <p>My coding projects, personal and professional.</p>
      <p>My coding projects, personal and professional.</p>
      <p>My coding projects, personal and professional.</p>
      <p>My coding projects, personal and professional.</p>
      <p>My coding projects, personal and professional.</p>
    </hgroup>
  </header>

  <main id="main-content">
    <ul class="projects">
      {
        projects.map((project) => (
          <li class="project">
            <a class="name" href={project.url || project.source}>
              {project.name || project.client}
            </a>
            <div class="info">
              <span>{project.type} | </span>
              <time>{project.date}</time>
              {project.source && (
                <>
                  <span>|</span>
                  <a href={`${project.source}`}>Source</a>
                </>
              )}
              {project.notes && (
                <>
                  <span>|</span>
                  <a href={`${project.notes}`}>Notes</a>
                </>
              )}
            </div>
          </li>
        ))
      }
    </ul>
  </main>
</Base>
