---
import BaseLayout from "../layouts/BaseLayout.astro";
import { Picture } from "astro:assets";

import { getGalleryImages } from "../scripts/utils";

const photos = getGalleryImages();
---

<BaseLayout title="Gallery">
  <h1>Gallery</h1>
  <div class="gallery">
    {
      photos.map((photo) => (
        <div class="gallery-item">
          <Picture
            src={photo.src}
            format={["avif", "webp", "jpeg", "jpg"]}
            alt="Gallery image."
          />
          {/* <img src={photo.src} alt="Gallery photo" /> */}
        </div>
      ))
    }
  </div>
  <!-- <Picture
    src={possum}
    formats={["avif", "webp", "jpeg"]}
    alt="A baby possum sitting upright and surrounded by small, green leaves."
  /> -->
</BaseLayout>

<style>
  h1 {
    margin-bottom: 1em;
  }
</style>

<style is:global>
  img {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-color: white;
    border-width: 0.5rem;
    border-style: solid;
  }
</style>
