---
import BaseLayout from "../layouts/BaseLayout.astro";
import Blog from "../components/CollectionList.astro";
import { Image } from "astro:assets";

// Images
import danceophile from "/src/images/danceophile-screenshot.jpg";
import latestPhoto from "/src/images/gallery/1-baby-possum.jpg";
---

<BaseLayout title="Home" ogTitle="Sam Feldstein">
  <h1 class="visually-hidden">Home</h1>

  <section id="intro">
    <h2 class="visually-hidden">About Me</h2>
    <p>
      <span>Hi, I'm <strong>Sam Feldstein</strong>.</span> I'm a human, raised by
      humans. I like <a href="/websites/">building websites</a>, <a
        href="/photos/">taking photos</a
      >, and making movie references.
    </p>

    <p>
      You can read more about me on the <a href="/about/">About page</a>.
    </p>
  </section>

  <h2>Latest Project: Danceophile Studio (in progress)</h2>
  <p>
    A website for an independent folk dance studio. Built with <a
      href="https://astro.build">Astro</a
    >.
  </p>
  <a class="image" href="https://danceophile.netlify.app/">
    <Image
      src={danceophile}
      widths={[256, 691, 936, 1382, 1640, 1850, 2048]}
      sizes="(min-width: 1020px) 707px, (min-width: 780px) calc(81.82vw - 111px), calc(100vw - 32px)"
      alt="A screenshot of the Danceophile Studio homepage."
      fetchpriority="high"
      loading="eager"
    />
  </a>

  <h2>Latest Photo</h2>
  <Image
    class="latest-photo"
    src={latestPhoto}
    widths={[256, 691, 936, 1382, 1640, 1850, 2048]}
    sizes="(min-width: 1020px) 707px, (min-width: 780px) calc(81.82vw - 111px), calc(100vw - 32px)"
    alt="A baby possum sticking its head out of a bed of green leaves."
  />
  <p class="text-right">
    <a href="/photos/">See all photos >>></a>
  </p>

  <h2>Latest Posts</h2>

  <Blog collectionName="blog" sort="date" count="3" />

  <p class="text-right">
    <a href="/blog/">See all posts >>></a>
  </p>
</BaseLayout>

<style>
  p:first-of-type {
    margin-top: 0;
  }

  span {
    font-variant: small-caps;
    letter-spacing: 0.1em;
  }

  .notes.source {
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
  }

  img {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 2px;
  }

  .latest-photo {
    border-color: white;
    border-width: 0.5rem;
    border-style: solid;
  }
</style>
