---
import BaseLayout from "../layouts/BaseLayout.astro";

// Styles
import "/src/styles/_index.scss";

// Data
import { site } from "../../config.mjs";

const schema = {
  "@context": "https://schema.org",
  "@type": "WebSite",
  name: "Sam Feldstein",
  url: "https://samfeldstein.xyz/",
  description: site.description,
  image:
    "https://samfeldstein.xyz/images/sam-feldstein-open-graph-default.webp",
};
---

<BaseLayout ogTitle="Sam Feldstein's Personal Website" schema={schema}>
  <h1 class="visually-hidden">Sam Feldstein's Personal Website</h1>

  <section id="intro">
    <p>
      <span>Hi, I'm <strong>Sam Feldstein</strong>.</span> I like taking notes, taking
      photos, and building websites. I also write the occasional thing.
    </p>

    <p>
      I don't have a particular objective for this website, but I've learned a
      lot from people writing on the internet and I'd like to pay it forward.
    </p>
  </section>
</BaseLayout>
