---
import BaseLayout from "../layouts/BaseLayout.astro";
import Blog from "../components/CollectionList.astro";
import { Image } from "astro:assets";

// Images
import danceophile from "/src/images/danceophile-screenshot.jpg";
import latestPhoto from "/src/images/gallery/1-baby-possum.jpg";

// Data
import { site } from "../../config.mjs";

const schema = {
  "@context": "https://schema.org",
  "@type": "WebSite",
  name: "Sam Feldstein",
  url: "https://samfeldstein.xyz/",
  description: site.description,
  image: "https://samfeldstein.xyz/images/sam-feldstein-open-graph-image.png",
};
---

<BaseLayout ogTitle="Sam Feldstein's Personal Website" schema={schema}>
  <h1 class="visually-hidden">Sam Feldstein's Personal Website</h1>

  <section id="intro">
    <p>
      <span>Hi, I'm <strong>Sam Feldstein</strong>.</span> I'm a web developer, writer,
      photographer currently based in Boulder, CO. I won't tell you where I'm from
      originally, but I'll give you a hint: It&#39;s not Idaho or Ohio. I&#39;ve
      also lived in Iowa City, Southern California, Far West Texas, and I spent a
      summer in New Orleans once.
    </p>

    <p>
      I've been building websites since 2023, and I'm officially trying to
      establish a clientele. I like building sites for individuals, small
      businesses, and nonprofits. If you need a developer in your life and that
      sounds like a good fit, have a look at my <a href="/websites/"
        >portfolio</a
      >, then kindly <a href="mailto:samuelfeldstein@proton.me">hire me</a>.
    </p>
  </section>

  <section id="web-development">
    <h2>Latest Website: Danceophile Studio (in progress)</h2>
    <p>A website for an independent folk dance studio. Built with Astro.</p>
    <a class="image" href="https://danceophile.netlify.app/">
      <Image
        src={danceophile}
        widths={[256, 691, 936, 1382, 1640, 1850, 2048]}
        sizes="(min-width: 1020px) 707px, (min-width: 780px) calc(81.82vw - 111px), calc(100vw - 32px)"
        alt="A screenshot of the Danceophile Studio homepage."
        fetchpriority="high"
        loading="eager"
      />
    </a>
    <p class="text-right">
      <a href="/websites/">See all websites >>></a>
    </p>
  </section>

  <section id="photography">
    <h2>Latest Photo: A Baby Possum</h2>
    <Image
      class="latest-photo"
      src={latestPhoto}
      widths={[256, 691, 936, 1382, 1640, 1850, 2048]}
      sizes="(min-width: 1020px) 707px, (min-width: 780px) calc(81.82vw - 111px), calc(100vw - 32px)"
      alt="A baby possum sticking its head out of a bed of green leaves."
    />
    <p class="text-right">
      <a href="/photos/">See all photos >>></a>
    </p>
  </section>

  <section id="blog">
    <h2>Latest Posts</h2>

    <Blog collectionName="blog" sort="date" count="3" />

    <p class="text-right">
      <a href="/blog/">See all posts >>></a>
    </p>
  </section>
</BaseLayout>

<style>
  p:first-of-type {
    margin-top: 0;
  }

  span {
    font-variant: small-caps;
    letter-spacing: 0.1em;
  }

  .notes.source {
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
  }

  img {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 2px;
  }

  .latest-photo {
    border-color: white;
    border-width: 0.5rem;
    border-style: solid;
  }
</style>
