---
import Head from "../components/Head.astro";

// Styles
import "/src/styles/_index.scss";

// Data
import { site } from "../../config.mjs";
---

<html lang="en-us">
  <Head
    title="Home"
    description={site.description}
    ogTitle="Sam Feldstein's Personal Website"
    ogType="website"
  />
  <body>
    <header id="page-header">
      <hgroup>
        <h1>Sam Feldstein</h1>
        <!-- <hr> is defined semantically, so seems wrong to use it here. -->
        <div class="hr"></div>
        <p id="slogan">Frontend developer</p>
      </hgroup>
    </header>

    <main id="main-content">
      <!-- <section id="intro">
        <p>
          Hi, I’m <strong>Sam Feldstein</strong>, a <a href="/code/"
            >frontend developer</a
          > and sometime <a href="/words/">writer</a> currently based in {
            site.location.city
          }, {site.location.state}.
        </p>
      </section> -->

      <section id="nav">
        <h2>Contents</h2>
        <nav>
          <ul>
            <li><a href="/words/">Words</a></li>
            <li><a href="/code/">Code</a></li>
            <li><a href="/photos/">Photos</a></li>
            <li><a href="/uses/">Uses</a></li>
            <li><a href="https://notebook.samfeldstein.xyz/">Notebook</a></li>
            <li><a href="/colophon/">Colophon</a></li>
          </ul>
        </nav>
      </section>

      <section>
        <h2>Contact & Social</h2>
        <ul class="contact">
          <li><a href="mailto:sam@samfeldstein.xyz">Email</a></li>
          <li><a href="https://github.com/samfeldstein">GitHub</a></li>
          <li><a href="/feed.xml">Feed</a></li>
        </ul>
      </section>
    </main>
  </body>
</html>
