---
import BaseLayout from "../layouts/BaseLayout.astro";
import Blog from "../components/CollectionList.astro";
---

<BaseLayout title="Home">
  <h1 class="visually-hidden">Home</h1>
  <p>
    <span>Hi, I'm <strong>Sam Feldstein</strong>.</span> I used to want to be an
    <a href="/published-writing/">author</a>, but lately I'm more interested in <a
      href="/web-development-portfolio/">web development</a
    >. I most recently built the site for <a
      href="https://prairierosearena.com/">Prairie Rose Arena</a
    >. I enjoy <a href="/blogroll/">blogs</a> too much to not have <a
      href="/blog/">one of my own</a
    >.
  </p>
  <h2>Recent Posts</h2>

  <Blog collectionName="blog" sort="date" count="6" />

  <p class="text-right">
    <a href="/blog/">See all posts >>></a>
  </p>
</BaseLayout>

<style>
  p:first-of-type {
    margin-top: 0;
  }

  span {
    font-variant: small-caps;
    letter-spacing: 0.1em;
  }
</style>
