---
import BaseLayout from "../layouts/BaseLayout.astro";
import Blog from "../components/CollectionList.astro";
import { Picture } from "astro:assets";
import notebook from "/src/images/notebook-homepage-screenshot.jpg";
import danceophile from "/src/images/danceophile-screenshot.jpg";
---

<BaseLayout title="Home">
  <h1 class="visually-hidden">Home</h1>
  <p>
    <span>Hi, I'm <strong>Sam Feldstein</strong>.</span> I used to want to be an
    author, but lately I'm more interested in <a
      href="/web-development-projects/">web development</a
    >. I write the occasional <a href="/blog/">blog post</a>, but I'm much more
    active in <a href="https://notebook.samfeldstein.xyz/">my notebook</a>.
  </p>

  <h2>Latest Project: Danceophile Studio (in progress)</h2>
  <p>
    A website for an independent folk dance studio. Built with <a
      href="https://astro.build">Astro</a
    >.
  </p>
  <a class="image" href="https://danceophile.netlify.app/danceophile/">
    <Picture
      src={danceophile}
      formats={["avif", "webp", "jpeg"]}
      alt="A screenshot of the Danceophile Studio homepage."
    />
  </a>

  <h2>Latest Posts</h2>

  <Blog collectionName="blog" sort="date" count="3" />

  <p class="text-right">
    <a href="/blog/">See all posts >>></a>
  </p>
</BaseLayout>

<style>
  p:first-of-type {
    margin-top: 0;
  }

  span {
    font-variant: small-caps;
    letter-spacing: 0.1em;
  }

  .notes.source {
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
  }
</style>

<style is:global>
  img {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 2px;
  }
</style>
