---
// Layout
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout
  title="OSINT Learning Path"
  description="My Open Source Intelligence learning path."
>
  <h1>OSINT Learning Path</h1>
  <ul>
    <li><time>2025-04-19:</time> Complete<i> <a href="https://kasescenarios.com/scp-insurgency">SCP: Insurgency</a></i> Kase Scenario.
    <ul>
      <li><a href="/files/kase-certificate-scp-insurgency.pdf" target="_blank">Certificate</a></li>
    </ul>
    </li>
    <li><time>2025-04-18:</time> Complete<i> <a href="https://courses.kasescenarios.com/courses/dragoncon">Orkla: Dragon Con Detective</a></i> Kase Scenario.
      <ul>
        <li><a href="/files/kase-certificate-dragon-con-detective.pdf" target="_blank">Certificate</a></li>
      </ul>
      </li>
  </ul>
  
</BaseLayout>