---
// Layout
import Base from "@layouts/Base.astro";
import Head from "@components/Head.astro";
import "@styles/_photos.scss";

// Components
import { Image } from "astro:assets";

// Functions
import { getGalleryImages } from "@scripts/utils";

const preloadFonts = ["cormorant", "noto-sans"];

const photos = await getGalleryImages();
---

<Base>
  <Head
    slot="head"
    title="Gallery"
    description="Photos I’ve taken."
    preloadFonts={preloadFonts}
  />
  <header>
    <nav><a href="/">Home</a></nav>
    <h1>Photos</h1>
    <p>
      <a href="mailto:sam@samfeldstein.xyz">Shoot me an email</a> if you'd like to
      order a print.
    </p>
  </header>
  <main>
    <div class="gallery">
      {
        photos.map((photo) => (
          <div class="photo">
            <Image
              src={photo.src}
              widths={[256, 691, 936, 1382, 1640, 1850, 2048]}
              sizes="(min-width: 1020px) 691px, (min-width: 780px) calc(81.82vw - 127px), calc(100vw - 48px)"
              alt={photo.alt || photo.title}
            />
            <div class="title">{photo.title}</div>
          </div>
        ))
      }
    </div>
  </main>
</Base>
