---
// Layout
import Base from "@/layouts/Base.astro";
import Gallery from "@/components/photos/Gallery.astro";

import "@/styles/_default.scss";

const preloadFonts = ["oswald", "noto-serif"];
---

<Base
  title="Gallery"
  description="Photos I’ve taken."
  preloadFonts={preloadFonts}
>
  <header>
    <nav class="main"><a href="/">Home</a></nav>
    <h1>Photos</h1>
  </header>
  <main id="main-content">
    <Gallery />
  </main>
</Base>
