---
// Layout
import BaseLayout from "../layouts/BaseLayout.astro";

// Components
import { Image } from "astro:assets";

import { getGalleryImages } from "../scripts/utils";

const photos = getGalleryImages();
---

<BaseLayout title="Photos">
  <h1>Photos</h1>
  <p>
    I'm working on getting an online store set up. In the meantime, <a
      href="mailto:samuelfeldstein@proton.me">shoot me an email</a
    > if you'd like to order a print.
  </p>
  <div class="gallery">
    {
      photos.map((photo) => (
        <div class="gallery-item">
          <Image
            src={photo.src}
            widths={[256, 691, 936, 1382, 1640, 1850, 2048]}
            sizes="(min-width: 1020px) 691px, (min-width: 780px) calc(81.82vw - 127px), calc(100vw - 48px)"
            alt="Gallery image."
          />
        </div>
      ))
    }
  </div>
</BaseLayout>

<style>
  h1 {
    margin-bottom: 1em;
  }
</style>

<style is:global>
  img {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-color: white;
    border-width: 0.5rem;
    border-style: solid;
  }
</style>
