---
// Layout
import Base from "@layouts/Base.astro";
import Head from "@components/Head.astro";
import Email from "@components/Email.astro";
import Gallery from "@/components/photos/Gallery.astro";

import "@styles/_default.scss";

const preloadFonts = ["cormorant", "noto-sans"];
---

<Base>
  <Head
    slot="head"
    title="Gallery"
    description="Photos I’ve taken."
    preloadFonts={preloadFonts}
  />
  <header>
    <nav><a href="/">Home</a></nav>
    <h1>Photos</h1>
  </header>
  <main>
    <Gallery />
  </main>
</Base>
