---
// Layout
import BaseLayout from "../layouts/BaseLayout.astro";

// Structured data
const schema = {
  "@context": "https://schema.org",
  "@type": "WebPage",
  name: "Things I Use | Sam Feldstein",
  url: "https://samfeldstein.xyz/uses/",
  description:
    "The tools, software, and equipment I use for photography, web development, writing, reading, and learning.",
  image: "https://samfeldstein.xyz/images/sam-feldstein-open-graph-image.png",
};
---

<BaseLayout
  title="Things I Use"
  description="The tools, software, and equipment I use for photography, web development, writing, reading, and learning."
  schema={schema}
>
  <h1>Things I Use</h1>
  <section id="web-development">
    <h2 id="web-development">Web Development</h2>
    <p>
      A 15-inch MacBook Air (Apple M2, 2023) does everything I need it to do
      with zero problems. My mouse is an <a
        href="https://www.logitech.com/en-us/products/mice/mx-master-3s-mac-bluetooth-mouse.910-006570.html?srsltid=AfmBOoo2Xc7jTQQ4c4zKe8gUs70L2M_3pkXTCLZSvoVpXCdnlWZQNmYi"
        >MX Master 3S for Mac</a
      >, which is pretty gentle on my fingers and wrists, but I still have a
      little soreness, so I wear some Walgreens compression gloves which help a
      ton.
    </p>
    <p>
      I code in VS Code. I use <a href="https://github.com/samfeldstein/">GitHub</a
      > for version control. I develop in <a
        href="https://www.google.com/chrome/">Google Chrome</a
      > and sometimes <a href="https://www.mozilla.org/en-US/firefox/developer/"
        >Firefox Developer Edition</a
      >. I design in <a href="https://www.figma.com">Figma</a>.
    </p>
    <p>
      I built this website with <a href="https://astro.build/">Astro</a>, and I
      built my <a href="https://notebook.samfeldstein.xyz/">notebook</a> with <a
        href="https://www.11ty.dev">Eleventy</a
      >.
    </p>
  </section>

  <section id="writing-and-reading">
    <h2 id="writing-and-reading">Writing and Reading</h2>
    <p>
      I write and takes <a href="https://notebook.samfeldstein.xyz/">notes</a> in
      <a href="https://obsidian.md/">Obsidian</a>. I use the Blue Topaz theme
      with the Style Settings, Hider, and Typewriter Scroll plugins.
    </p>

    <p>
      <a href="https://enso.sonnet.io/">Enso</a> comes in handy for distraction-free
      word-dumping. I&#39;d use <a href="https://www.beat-app.fi">beat</a> if I still
      wrote screenplays, except maybe not, because <a
        href="https://code.visualstudio.com/">VS Code</a
      > has a great <a
        href="https://marketplace.visualstudio.com/items?itemName=piersdeseilligny.betterfountain"
        >fountain plugin</a
      >.
    </p>
    <p>
      I track feeds and read articles with <a href="https://readwise.io/"
        >Readwise</a
      >. For books, I have a Kindle and a library card. <a
        href="https://www.overdrive.com/apps/libby">Libby</a
      > rules, as does the <a href="https://archive.org">Internet Archive</a>.
    </p>
    <p>
      To annotate eBooks, I use Readwise. To annotate articles, I use either the <a
        href="https://chromewebstore.google.com/detail/readwise-highlighter/jjhefcfhmnkfeepcpnilbbkaadhngkbi"
        >Readwise Highlighter extension</a
      > or the <a
        href="https://chromewebstore.google.com/detail/obsidian-web-clipper/cnjifjpddelmedmihgijeibhnjfabmlf"
        >Obsidian Web Clipper extension</a
      >.
    </p>

    <p>
      All notes I take in <a href="https://read.readwise.io">Readwise Reader</a>
      (or its highlighter extension), on my Kindle, or in iBooks show up in my Readwise
      database, which I export to Google Drive and Obsidian. All notes I take with
      Obsidian Web Clipper show up in...Obsidian.
    </p>
    <p>
      I track books I&#39;ve read and want to read with <a
        href="https://www.librarything.com/home">LibraryThing</a
      >.
    </p>
    <p>
      I memorize information with <a href="https://apps.ankiweb.net/">Anki</a>.
    </p>
    <p><strong>Reference materials:</strong></p>
    <ul>
      <li><em>The New Oxford American Dictionary</em> (macOS)</li>
      <li>
        <a href="https://www.merriam-webster.com/"><em>Merriam-Webster</em></a>
      </li>
      <li>
        <a href="https://www.thefreedictionary.com/">The Free Dictionary</a>
      </li>
      <li><a href="https://www.thesaurus.com/">Thesaurus.com</a></li>
      <li><em>Roget’s Thesaurus</em></li>
      <li>
        <a href="https://www.etymonline.com/">Online Etymology Dictionary</a>
      </li>
      <li>
        <a href="https://github.com/cmod/websters-1913"
          ><em>Webster&#39;s 1913 Dictionary</em></a
        > (macOS)
      </li>
    </ul>
  </section>

  <section id="photography">
    <h2 id="photography">Photography</h2>
    <p>
      I have a <a
        href="https://electronics.sony.com/imaging/interchangeable-lens-cameras/aps-c/p/ilce6000l-b?srsltid=AfmBOoq-RLburCCFwOBMuWQ0q0_7j6nLw0aMH20v7ioOyqPar6GfYiqW"
        >Sony a6000</a
      > that I mostly pair with a <a
        href="https://7artisans.store/products/7artisans-35mm-f1-2-ii"
        >7Artisans 35mm f/1.2 lens</a
      >. The lens was only $150 but it feels far from cheap. It has some
      vignetting around the edges if you open the aperture too wide, but I think
      it gives the photos texture, and I love the way it captures colors.
    </p>
    <p>
      I edit in Lightroom Classic, and I share photos on <a
        href="https://www.instagram.com/sam.feldstein/">Instagram</a
      >.
    </p>
  </section>

  <section id="other">
    <h2 id="other">Other</h2>
    <p>
      I browse the Web with <a href="https://vivaldi.com">Vivaldi</a>. I use <a
        href="https://programmablesearchengine.google.com/about/"
        >Google Programmable Search</a
      > to curate results.
    </p>
    <p>
      I have a Toyota Corolla that I&#39;ve taken all the over the country. If
      it had cruise control and all-wheel drive it&#39;d be the perfect vehicle.
      100,000 miles and all I&#39;ve ever done to it is change the oil, swap the
      battery, and replace the tires.
    </p>
  </section>
</BaseLayout>
