---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Web Development Portfolio">
  <h1>Web Development Portfolio</h1>
  <li><a href="/">Personal Site</a> (this website)</li>
  <li><a href="https://prairierosearena.com/">Prairie Rose Arena</a></li>
</BaseLayout>

<style>
  h1 {
    margin-bottom: 1em;
  }
</style>
