---
import BaseLayout from "../layouts/BaseLayout.astro";
import { Picture } from "astro:assets";

import pairings from "/src/images/pairings-screenshot.jpg";
import prairieRose from "/src/images/prairie-rose-arena-screenshot.jpg";
import personalSite from "/src/images/personal-site-screenshot.jpg";
import notebook from "/src/images/notebook-homepage-screenshot.jpg";
---

<BaseLayout title="Web Development Projects">
  <h1>Web Development Projects</h1>
  <h2>Notebook</h2>
  <p>
    My digital notebook. Built with <a href="https://foambubble.github.io"
      >Foam</a
    > and <a href="https://www.11ty.dev/">Eleventy</a>.
  </p>
  <a class="image" href="https://notebook.samfeldstein.xyz/">
    <Picture
      src={notebook}
      formats={["avif", "webp", "jpeg"]}
      alt="A screenshot of the homepage of my digital notebook."
    />
  </a>
  <div class="notes source">
    <a
      href="https://notebook.samfeldstein.xyz/notes/digital-notebook-project-notes/"
      >Notes</a
    >
    <a href="https://github.com/seldstein/notebook">Source</a>
  </div>

  <h2>Pairings</h2>
  <p>
    An app that generates random pairings from any two lists. This was my first
    web application.
  </p>
  <a class="image" href="https://pairingapp.netlify.app">
    <Picture
      src={pairings}
      formats={["avif", "webp", "jpeg"]}
      alt="A screenshot of the 'Pairings' homepage."
    />
  </a>
  <div class="notes source">
    <a href="https://notebook.samfeldstein.xyz/notes/pairings-notes">Notes</a>
    <a href="https://github.com/seldstein/pairings">Source</a>
  </div>

  <h2>Prairie Rose Arena</h2>
  <p>A website for an equestrian event center. Built with Eleventy.</p>
  <a class="image" href="https://prairierosearena.com/">
    <Picture
      src={prairieRose}
      formats={["avif", "webp", "jpeg"]}
      alt="A screenshot of the Prairie Rose Arena website homepage."
    />
  </a>
  <div class="notes source">
    <a href="https://notebook.samfeldstein.xyz/notes/prairie-rose-arena-notes"
      >Notes</a
    >
  </div>

  <h2>Personal Site</h2>
  <p>My personal website. Built with Astro.</p>
  <a class="image" href="/">
    <Picture
      src={personalSite}
      formats={["avif", "webp", "jpeg"]}
      alt="A screenshot of the homepage of Sam Feldstein's personal website."
    />
  </a>
  <div class="notes source">
    <a href="https://notebook.samfeldstein.xyz/notes/personal-site-notes"
      >Notes</a
    >
    <a href="https://github.com/seldstein/personal-site-astro">Source</a>
  </div>
</BaseLayout>

<style>
  h1 {
    margin-bottom: 1em;
  }

  .notes.source {
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
  }
</style>

<style is:global>
  img {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 2px;
  }
</style>
