---
// Layout
import BaseLayout from "../../../layouts/BaseLayout.astro";

// Styles
import "../../../styles/_note-tags.scss";

// Collections
import { getCollection } from "astro:content";

// Functions
export async function getStaticPaths() {
  const notes = await getCollection("notes");
  const uniqueTags = [...new Set(notes.map((note) => note.data.tags).flat())];

  return uniqueTags.map((tag) => {
    const filteredPosts = notes.filter((note) => note.data.tags.includes(tag));
    return {
      params: { tag },
      props: { notes: filteredPosts },
    };
  });
}

// Capitalize first letter
function capitalize(str) {
  return str.charAt(0).toUpperCase() + str.slice(1);
}

// Variables
const { tag } = Astro.params;
const { notes } = Astro.props;
---

<BaseLayout title=`Notes on ${capitalize(tag)}`>
  <h1>Notes on <span class="tag">{tag}</span></h1>
  <ul>
    {
      notes.map((note) => (
        <li>
          <a href={`/notes/${note.id}/`}>{note.data.title}</a>
        </li>
      ))
    }
  </ul>
</BaseLayout>
