---
import Favicon from "./Favicon.astro";
import { ViewTransitions } from "astro:transitions";
import { site } from "../../config.mjs";
const { title, description } = Astro.props;
---

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Icons
      - Guide: https://evilmartians.com/chronicles/how-to-favicon-in-2021-six-files-that-fit-most-needs
      - Favicon generator: https://favicon.io
      - Another favicon generator: https://realfavicongenerator.net/
      - SVG generator: https://formito.com/tools/favicon
      - Image compressor: https://squoosh.app/
      - SVG optimizer: https://jakearchibald.github.io/svgomg/
      - Favicon checker: https://realfavicongenerator.net/favicon_checker  
    -->
  <Favicon />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="generator" content={Astro.generator} />
  <title>{title} | {site.title}</title>
  <meta name="description" content={description || site.description} />
  <link
    rel="alternate"
    type="application/rss+xml"
    title="Sam Feldstein"
    href={new URL("feed.xml", Astro.site)}
  />
  <ViewTransitions />
  <script>
    import "../scripts/swRegister.js";
  </script>
</head>
