---
import "/src/styles/global.css";

import { ViewTransitions } from "astro:transitions";
import { site } from "../../config.mjs";

const { title, description } = Astro.props;
---

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Icons
      - Guide: https://evilmartians.com/chronicles/how-to-favicon-in-2021-six-files-that-fit-most-needs
      - Favicon generator: https://favicon.io
      - Another favicon generator: https://realfavicongenerator.net/
      - SVG generator: https://formito.com/tools/favicon
      - Image compressor: https://squoosh.app/
      - SVG optimizer: https://jakearchibald.github.io/svgomg/
      - Favicon checker: https://realfavicongenerator.net/favicon_checker  
    -->
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
  <link rel="manifest" href="/site.webmanifest" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="generator" content={Astro.generator} />
  <title>{title} | {site.title}</title>
  <meta name="description" content={description || site.description} />
  <link
    rel="alternate"
    type="application/rss+xml"
    title="Sam Feldstein"
    href={new URL("feed.xml", Astro.site)}
  />
  <ViewTransitions />
  <script>
    // Try to bypass service worker residue
    if ("serviceWorker" in navigator) {
      caches
        .keys()
        .then((names) => {
          for (let name of names) {
            caches.delete(name);
          }
        })
        .then(() => {
          window.location.reload(); // Force a hard reload
        });
    }
  </script>
</head>
