<nav class="main-menu">
  <div class="main-menu-links">
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>
    <!-- <a href="/photos/">Photos</a>
    <a href="/projects/">Projects</a> -->
    <!-- <a href="/notebook/">Notes</a> -->
  </div>
  <div class="social-links">
    <a href="https://github.com/seldstein">
      <svg
        height="32"
        version="1.0"
        width="32"
        xml:space="preserve"
        xmlns="http://www.w3.org/2000/svg"
        ><path
          clip-rule="evenodd"
          d="M16.007 0C7.172 0 .008 7.345.008 16.405c0 7.247 4.583 13.396 10.943 15.566.8.15 1.052-.336 1.052-.771 0-.39.008-1.479 0-2.848-4.45.992-5.372-2.16-5.372-2.16-.728-1.896-1.776-2.4-1.776-2.4-1.452-1.018.11-.998.11-.998 1.605.116 2.45 1.691 2.45 1.691 1.428 2.505 3.745 1.781 4.656 1.363.146-1.06.56-1.783 1.017-2.194C9.535 23.24 5.8 21.833 5.8 15.547c0-1.792.624-3.255 1.647-4.402-.165-.414-.715-2.083.157-4.342 0 0 1.343-.44 4.399 1.683a15.314 15.7 0 0 1 4.006-.552c1.36.006 2.728.188 4.006.552 3.056-2.123 4.397-1.683 4.397-1.683.872 2.26.323 3.928.16 4.342 1.022 1.147 1.644 2.61 1.644 4.402 0 6.302-3.741 7.689-7.306 8.094.574.508 1.095 1.492 1.095 3.022v4.541c0 .439.258.924 1.07.765 6.354-2.173 10.933-8.319 10.933-15.564C32.008 7.345 24.844 0 16.007 0Z"
          fill="#181616"
          fill-rule="evenodd"
          style="stroke-width:1.0128"></path></svg
      >
    </a>
    <a href="/feed.xml">
      <svg
        data-name="Layer 45"
        height="32"
        width="32"
        xmlns="http://www.w3.org/2000/svg"
        ><circle cx="4" cy="28" r="4" style="fill:#ffab66;stroke-width:2"
        ></circle><path
          d="M0 11.17v6A14.846 14.846 0 0 1 14.83 32h6A20.852 20.852 0 0 0 0 11.17Z"
          style="fill:#ffab66;stroke-width:2"></path><path
          d="M0 0v6a26.028 26.028 0 0 1 26 26h6A32.036 32.036 0 0 0 0 0Z"
          style="fill:#ffab66;stroke-width:2"></path></svg
      >
    </a>
  </div>
</nav>
