<nav>
  <ul class="main-menu">
    <li><a href="/">Home</a></li>
    <li><a href="/stories/">Stories</a></li>
    <li><a href="/code/">Code</a></li>
    <li><a href="/blog/">Blog</a></li>
    <li><a href="/about/">About</a></li>
    <!-- <li><a href="/photos/">Photos</a></li>
    <li><a href="/notebook/">Notes</a></li> -->
  </ul>
</nav>
