<nav>
  <div class="title">Navigation</div>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/uses/">Uses</a></li>
    <li><a href="/blogroll/">Blogroll</a></li>
  </ul>

  <div class="title">Dev</div>
  <ul>
    <li>
      <a href="/websites/">Websites</a>
    </li>
    <li><a href="https://github.com/seldstein">GitHub</a></li>
  </ul>

  <div class="title">Writing</div>
  <ul>
    <li><a href="/writing/" aria-label="Published Writing">Portfolio</a></li>
    <li><a href="/blog/">Blog</a></li>
    <li><a href="https://notebook.samfeldstein.xyz/">Notebook</a></li>
    <li><a href="/feed.xml">Feed</a></li>
  </ul>

  <div class="title">Photography</div>
  <ul>
    <li><a href="/photos/">Photos</a></li><li>
      <a href="https://www.instagram.com/sam.feldstein/">Instagram</a>
    </li>
  </ul>

  <div class="title">Contact</div>
  <ul>
    <li><a href="mailto:samuelfeldstein@proton.me">Email</a></li>
  </ul>
</nav>

<style>
  div.title {
    font-size: 1.25rem;
    font-weight: bold;
  }

  ul {
    list-style-type: none;
    padding-left: 10px;
    font-size: 1rem;
  }

  li {
    padding: 0.2em 0;
  }
</style>
