<nav>
  <div class="title">Navigation</div>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/photos/">Photos</a></li>
    <li><a href="/uses/">Uses</a></li>
    <li><a href="/blogroll/">Blogroll</a></li>
  </ul>

  <div class="title">Work</div>
  <ul>
    <li>
      <a href="/websites/">Websites</a>
    </li>
    <li>
      <a href="/resume/">Résumé</a>
    </li>
  </ul>

  <div class="title">Writing</div>
  <ul>
    <li>
      <a href="/writing/" aria-label="Published Writing">Published Writing</a>
    </li>
    <li><a href="/blog/">Blog</a></li>
    <li><a href="https://notebook.samfeldstein.xyz/">Notebook</a></li>
  </ul>

  <div class="title">Contact & Social</div>
  <ul>
    <li><a href="mailto:sam@samfeldstein.xyz">Email</a></li>
    <li><a href="https://github.com/samfeldstein">GitHub</a></li>
    <li><a href="/feed.xml">Feed</a></li>
  </ul>
</nav>

<style>
  nav {
    font-size: clamp(1rem, 7vw, 1.25rem);
  }

  div.title {
    font-weight: bold;
    font-variant: small-caps;
    text-transform: lowercase;
    letter-spacing: 1px;
  }

  ul {
    list-style-type: none;
    padding-left: 10px;
  }

  li {
    padding: 0.2em 0;
  }
</style>
