<nav>
  <div class="title">Navigation</div>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/uses/">Uses</a></li>
    <li><a href="/blogroll/">Blogroll</a></li>
  </ul>
  <div class="title">Writing</div>
  <ul>
    <li><a href="/blog/">Blog</a></li>
    <li>
      <a href="https://notebook.samfeldstein.xyz/" target="_blank">Notebook</a>
    </li>
    <li><a href="https://substack.com/@samfeldstein">Substack</a></li>
  </ul>
  <div class="title">Dev</div>
  <ul>
    <li><a href="/websites/">Websites</a></li>
    <li><a href="https://github.com/seldstein">GitHub</a></li>
  </ul>
  <div class="title">Photography</div>
  <ul>
    <li><a href="/photos/">Gallery</a></li>
    <li><a href="https://www.instagram.com/sam.feldstein/">Instagram</a></li>
  </ul>
  <div class="title">Contact & Social</div>
  <ul>
    <li>
      <a href="https://bsky.app/profile/samfeldstein.bsky.social">Bluesky</a>
    </li>
    <li><a href="https://mastodon.social/@samfeldstein">Mastodon</a></li>
    <li><a href="https://x.com/samfeldstein">Twitter</a></li>
    <li><a href="mailto:samuelfeldstein@proton.me">Email</a></li>
    <li><a href="/feed.xml">RSS</a></li>
  </ul>
</nav>

<style>
  div.title {
    font-size: 1.25rem;
  }

  ul {
    list-style-type: none;
    padding-left: 10px;
    font-size: 1rem;
  }

  li {
    padding: 0.2em 0;
  }
</style>
