---
import SiteNav from "./SiteNav.astro";
import SocialLinks from "./SocialLinks.astro";
---

<details>
  <summary>Menu</summary>
  <hr>
  <div>
    <div class="title">Navigation</div>
    <SiteNav />
    <div class="title">Social</div>
    <SocialLinks />
  </div>
</details>

<style>
  details {
    margin-bottom: 1rem;
    border: 1px solid;
    border-radius: 20px;
  }

  details > div {
    padding: 1rem;
  }

  summary {
    padding: 1rem;
    font-variant: small-caps;
    cursor: pointer;
  }

  hr {
    color: inherit;
    height: 1px;
  }

  .title {
    font-variant: small-caps;
  }

  @media screen and (min-width: 601px) {
    details {
      display: none;
    }
  }
</style>

<style is:global>
  details ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
  }
</style>
