---
import SiteNav from "./SiteNav.astro";
import SocialLinks from "./SocialLinks.astro";
---

<details>
  <summary>Menu</summary>
  <hr />
  <div>
    <div class="title">Navigation</div>
    <SiteNav />
    <div class="title">Social</div>
    <SocialLinks />
  </div>
</details>

<style>
  details {
    position: sticky;
    top: 0px;
    background: var(--background-color);
    margin-bottom: 1rem;
    border: 1px solid;
    font-variant: small-caps;

    @media screen and (min-width: 768px) {
      display: none;
    }
  }

  details > div {
    padding: 1rem;
  }

  summary {
    padding: 0.5em;
    font-variant: small-caps;
    cursor: pointer;
    font-size: 0.75em;
  }

  hr {
    color: inherit;
    height: 1px;
  }

  .title {
    font-variant: small-caps;
  }
</style>

<style is:global>
  details ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
  }
</style>
