<a href="/">Sam Feldstein</a>
<nav>
  <a href="/" data-astro-prefetch>/Home</a>
  <a href="/blog/" data-astro-prefetch>/Blog</a>
  <a href="/feed.xml" data-astro-prefetch>/Feed</a>
</nav>

<style>
  nav {
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
  }

  a {
    text-transform: lowercase;
    font-variant: unset;
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
</style>
