<nav>
  <a href="/">/home</a>
  <a href="/blog/">/blog</a>
  <a href="/feed.xml">/feed</a>
</nav>

<style>
  nav {
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
  }
</style>