---
import fetchScores from "../scripts/lighthouse-scores.js";

export const prerender = true;

const isDev = import.meta.env.DEV;

// If isDev false, use Astro.url
const target = isDev ? `${Astro.site}` : `${Astro.url}`;

const data = isDev ? null : await fetchScores(target);

const score = isDev
  ? 100
  : data.lighthouseResult.categories.performance.score * 100;
---

<small>Lighthouse Performance Score: <span class="score">{score}</span></small>

<style>
  .score {
    background-color: #e4f9ee;
    color: #00cc66;
    min-width: 2.6em;
    height: 2.6em;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 0.153846em solid;
  }
</style>
