---
import fetchData from "../scripts/lighthouse-scores.js";

const isDev = import.meta.env.DEV;
const target = Astro.url.href; // https://docs.astro.build/en/reference/api-reference/#url
// console.log("PAGESPEED TARGET:", target);

const key = import.meta.env.PSI_KEY; // Variable set in Cloudflare, and this import logic works fine I guess

// Sample object for dev purposes
const devMetrics = {
  performanceScore: 100,
  blockingTime: "0 ms",
  speedIndex: "0.2 s",
  tti: "0.3 s",
};

const metrics = isDev ? devMetrics : await fetchData(target, key); // Only run in prod
// console.log(metrics);
---

<style lang="scss">
  figcaption {
    margin-bottom: 0.25em;
  }

  ul {
    // Unstyled in index.scss
    padding: 0;
    font-size: 0.9em;
  }

  li {
    display: flex;
    justify-content: space-between;
    gap: 1em;
  }

  span:first-of-type {
    // min-width: 100%;
    flex: 1;
    text-align: right;
  }

  .performance {
    font-weight: bold;
    margin-top: 0.25em;
  }
</style>

{
  metrics && (
    <figure>
      <figcaption class="small-caps">Lighthouse Metrics</figcaption>
      <ul>
        <li>
          <>
            <span>Blocking Time:</span>
            <span>{metrics?.blockingTime}</span>
          </>
        </li>
        <li>
          <>
            <span>Speed Index:</span>
            <span>{metrics?.speedIndex}</span>
          </>
        </li>
        <li>
          <>
            <span>Time to Interactive:</span>
            <span>{metrics?.tti}</span>
          </>
        </li>
        <li class="performance">
          <>
            <span>Performance Score:</span>
            <span>&nbsp;&nbsp;{metrics?.performanceScore}</span>
          </>
        </li>
      </ul>
    </figure>
  )
}
