---
const { data } = Astro.props;
---

<ul>
  {
    data.map((item) => (
      <li class="publication">
        <a href={item.url}>
          <div class="info">
            <div>{item.type}</div>
            <div>
              <span class="outlet">{item.outlet}</span> | {item.date}
            </div>
          </div>
          <div
            class="title"
            set:html={item.title.replace(/'(.*?)'/, "<em>$1</em>")}
          />
          <div class="read">Read</div>
        </a>
      </li>
    ))
  }
</ul>

<style lang="scss">
  :root {
    --local-accent: var(--accent);
  }

  ul {
    --minwidth: 250px;

    list-style-type: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--minwidth), 1fr));
    gap: 1rem;
  }

  li {
    // Allow <a> children to flex
    display: flex;
  }

  a {
    border: 0.05em solid;
    border-radius: 12px;
    border-color: var(--accent-2);
    display: flex;
    flex-direction: column;
    padding: 2rem 1.5rem;
    // Grow to fill space
    flex: 1;

    &:hover {
      // Reverse color scheme in dark mode
      --local-accent: var(--accent-2);
    }
  }

  .title {
    font-size: var(--font-large);
    text-wrap: balance;
    margin: 0.5rem 0 2rem 0;
    // Fill space, push .read to bottom
    flex: 1;
  }

  .info {
    font-size: var(--font-small);
    font-family: var(--font-meta);
    font-variant: small-caps;
    text-transform: lowercase;
    color: var(--local-accent);
  }

  .outlet {
    font-style: italic;
  }

  .read {
    font-family: var(--font-meta);
    font-size: var(--font-small);
    font-weight: 700;
    font-variant: small-caps;
    text-transform: lowercase;
    text-align: right;
    margin-block-end: -1rem;

    &::after {
      content: "→";
      margin-left: 0.25em;
    }
  }

  /* Responsive styles */
  @media screen and (min-width: 400px) {
    ul {
      --minwidth: 350px;
    }
  }
</style>
