---
const { data } = Astro.props;
---

<ul class="portfolio">
  {
    data.map((item) => (
      <li>
        <a class="entry" href={item.url}>
          <div class="info">
            <div>{item.type}</div>
            <div class="date-outlet">
              <span class="outlet">{item.outlet}</span>
              <span>&nbsp;|&nbsp;</span>
              <span>{item.date}</span>
            </div>
          </div>
          <div
            class="title"
            set:html={item.title.replace(/'(.*?)'/, "<em>$1</em>")}
          />
          <div class="read">Read</div>
        </a>
      </li>
    ))
  }
</ul>
