<style lang="scss">
  .container {
    color-scheme: light dark;
    --accent: light-dark(#999999, #595959);
    --accent-2: light-dark(#f8f8f8, #252525);
    border-style: solid none;
    border-width: 0.01em;
    border-color: var(--accent);
    background: var(--accent-2);
    padding: 1em;
  }

  blockquote {
    margin: 0;
    position: relative; // To position scrolling text
  }

  #quote {
    text-align: left;
    font-style: italic;
  }

  .attribution {
    font-size: 0.8em;
  }
</style>

<div class="container">
  <blockquote>
    <p id="quote"></p>
  </blockquote>
  <p class="attribution">
    <span id="speaker"></span><cite id="work"></cite><span id="year"></span>
  </p>
</div>

<script>
  // Doesn't need to be in public, I don't think. Like css, when you import it it makes the data available in the published site
  import quotes from "../data/quotes";

  const isDev = import.meta.env.DEV;

  // Always first quote in dev, to make sure it looks okay
  const randomQuote = isDev
    ? quotes[0]
    : quotes[Math.floor(Math.random() * quotes.length)];

  document.getElementById("quote").innerHTML = randomQuote.quote;
  document.getElementById("speaker").textContent = randomQuote.speaker;

  if (randomQuote.work) {
    document.getElementById("work").textContent = ", " + randomQuote.work;
  }

  if (randomQuote.year) {
    document.getElementById("year").textContent = " " + `(${randomQuote.year})`;
  }

  if (randomQuote.url) {
    document.querySelector("blockquote")?.setAttribute("cite", randomQuote.url);
  }
</script>
