<div>
  <blockquote>
    <p id="quote"></p>
  </blockquote>
  <p class="attribution">
    <span id="speaker"></span><cite id="work"></cite><span id="verse"
    ></span><span id="year"></span>
  </p>
</div>

<style lang="scss">
  div {
    color-scheme: light dark;
    --accent: light-dark(#999999, #595959);
    --accent-2: light-dark(#f8f8f8, #252525);

    background: var(--accent-2);

    border-style: solid none;
    border-width: 0.01em;
    border-color: var(--accent);
    padding: 1em;
  }

  blockquote {
    margin: 0;
    position: relative; // To position scrolling text
  }

  .attribution {
    font-size: 0.7em;
    margin-top: 3em;
  }

  #quote {
    text-align: left;
    font-style: italic;
    font-weight: 100;
    letter-spacing: 0.025em;
  }
</style>

<script>
  // Doesn't need to be in public, I don't think. Like css, when you import it it makes the data available in the published site
  import quotes from "../data/quotes";

  const isDev = import.meta.env.DEV;

  // Always first quote in dev, to make sure it looks okay
  const randomQuote = isDev
    ? quotes[0]
    : quotes[Math.floor(Math.random() * quotes.length)];

  document.getElementById("quote").innerHTML = randomQuote.quote;

  let previousPartExists = false;

  if (randomQuote.speaker) {
    document.getElementById("speaker").textContent = randomQuote.speaker;
    previousPartExists = true;
  }

  if (randomQuote.work) {
    const workPrefix = previousPartExists ? ", " : "";
    document.getElementById("work").textContent = workPrefix + randomQuote.work;
    previousPartExists = true;
  }

  if (randomQuote.verse) {
    const versePrefix = previousPartExists ? ", " : "";
    document.getElementById("verse").textContent =
      versePrefix + randomQuote.verse;
    previousPartExists = true;
  }

  if (randomQuote.year) {
    document.getElementById("year").textContent = " " + `(${randomQuote.year})`;
  }

  if (randomQuote.url) {
    document.querySelector("blockquote")?.setAttribute("cite", randomQuote.url);
  }

  if (
    ["poem", "essay", "song", "short story", "speech"].includes(
      randomQuote.medium,
    )
  ) {
    document.querySelector("cite")?.style.setProperty("font-style", "normal");
    const workPrefix = randomQuote.speaker ? ", " : "";
    document.getElementById("work").textContent =
      workPrefix + `“${randomQuote.work}”`;
  }
</script>
