---
import SiteNav from "./SiteNav.astro";
import SocialLinks from "./SocialLinks.astro";
---

<aside>
  <div>Navigation</div>
  <SiteNav />
  <div>Contact & Social</div>
  <SocialLinks />
</aside>

<style>
  aside {
    border-right: 1px solid;
    padding-right: 4rem;
  }

  aside div {
    font-weight: bold;
  }

  summary {
    padding: 1rem 0;
    cursor: pointer;
  }

  @media screen and (max-width: 600px) {
    aside {
      display: none;
    }
  }
</style>
