---
import SiteNav from "./SiteNav.astro";
import SocialLinks from "./SocialLinks.astro";
---

<aside>
  <div class="container">
    <div>Navigation</div>
    <SiteNav />
    <div>Social</div>
    <SocialLinks />
  </div>
</aside>

<style>
  aside {
    border-right: 1px solid;
    margin-right: 4rem;
    padding-right: 4rem;
  }

  aside {
    font-variant: small-caps;
  }

  summary {
    padding: 1rem 0;
    cursor: pointer;
  }

  .container {
    position: sticky;
    top: 0px;
  }

  @media screen and (max-width: 767px) {
    aside {
      display: none;
    }
  }
</style>
