---
import Menu from "./Menu.astro";
---

<aside>
  <div class="container">
    <Menu />
  </div>
</aside>

<style lang="scss">
  aside {
    border-right: 1px solid;
    margin-right: 4rem;
    padding-right: 4rem;
    flex: 1;
  }

  div.container {
    position: sticky;
    top: 1rem;
  }

  @media screen and (max-width: 767px) {
    aside {
      display: none;
    }
  }
</style>
