---
import SiteNav from "./SiteNav.astro";
import SocialLinks from "./SocialLinks.astro";
---

<aside>
  <div>Navigation</div>
  <SiteNav />
  <div>Social</div>
  <SocialLinks />
</aside>

<style>
  aside {
    border-right: 1px solid;
    margin-right: 4rem;
    padding-right: 4rem;
  }

  aside div {
    font-variant: small-caps;
  }

  summary {
    padding: 1rem 0;
    cursor: pointer;
  }

  @media screen and (max-width: 767px) {
    aside {
      display: none;
    }
  }
</style>
