<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/work/">Work</a></li>
    <li><a href="/uses/">Uses</a></li>
    <li><a href="/blog/">Blog</a></li>
    <a href="/blogroll">Blogroll</a>
    <!-- <li><a href="/photos/">Photos</a></li>
    <li><a href="/notebook/">Notes</a></li> -->
  </ul>
</nav>

<style>
  ul {
    list-style-type: none;
    padding-left: 10px;
  }
</style>