<a class="logo" href="/">Sam Feldstein</a>

<style>
  a {
    font-size: calc(2rem + 2vw);
    text-align: center;
    text-decoration: none;
    display: block;
  }

  a:hover {
    text-decoration: underline;
  }
</style>
