<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/about/">About</a></li>

    <li><a href="/blogroll/">Blogroll</a></li>
  </ul>
  <div>Writing</div>
  <ul>
    <li><a href="/blog/">Blog</a></li>
    <li>
      <a href="https://notebook.samfeldstein.xyz/" target="_blank">Notebook</a>
    </li>
  </ul>
  <div>Projects</div>
  <ul>
    <li><a href="/photos/">Photos</a></li>
    <li><a href="/websites/">Websites</a></li>
  </ul>
</nav>

<style>
  ul {
    list-style-type: none;
    padding-left: 10px;
    font-size: 1rem;
  }

  li {
    padding: 0.2em 0;
  }
</style>
