---
import MainMenu from "./MainMenu.astro";
---

<header id="site-header">
  <div class="logo">
    <a class="path" href="/">~/samfeldstein</a>
    <span class="command"> ls</span>
  </div>
  <MainMenu />
</header>