<footer id="site-footer">
  <p>Built with <a href="https://astro.build/">Astro</a>.</p>
</footer>

<style>
  footer {
    margin-top: 6rem;
    font-size: var(--font-small);
    text-align: center;
  }

  p {
    margin: 0;
  }
</style>
