---
import MainMenu from "./MainMenu.astro";
---

<header id="site-header">
  <div class="logo">
    <a class="path" href="/">~/samfeldstein</a>
    <span class="command"> ls</span>
  </div>
  <!-- <div>
    <span class="path">~/sites/ </span>
    <span class="command">open </span>
    <a class="logo argument" href="/">samfeldstein.xyz</a>
  </div> -->
  <MainMenu />
</header>
