<footer id="site-footer">
  <p>
    I built this website with <a href="https://astro.build/">Astro</a>. You can
    see the source on <a
      href="https://github.com/samfeldstein/personal-site-astro">GitHub</a
    >.
  </p>
</footer>

<style>
  footer {
    font-size: var(--font-small);
    text-wrap: balance;
    margin-top: 4rem;
    text-align: center;
    border-top-style: solid;
    border-top-width: 0.01rem;
  }

  p {
    margin-bottom: 0;
  }
</style>
