<nav>
  <ul class="list-style-none">
    <li><a href="/">Home</a></li>
    <li><a href="/blog/">Blog</a></li>
    <li><a href="/projects/">Projects</a></li>
    <a href="/blogroll">Blogroll</a>
    <!-- <li><a href="/photos/">Photos</a></li>
    <li><a href="/notebook/">Notes</a></li> -->
  </ul>
</nav>