<a class="skiplink" href="#main-content">Skip to Content</a>

<style>
  a {
    background-color: var(--background-color);
    border-style: solid;
    border-width: 1px;
    padding: 0.5em;
    font-variant: small-caps;
    text-decoration: none;
    z-index: 100;
    position: absolute;
    translate: -1000%;
    transition-duration: 0.25s;
  }

  a:focus {
    translate: 0;
  }
</style>
