<a id="skiplink" href="#main-content" aria-label="Skip Link">Skip to Content</a>

<style>
  a {
    background-color: black;
    border: 1px solid;
    border-radius: 10px;
    padding: 1em;
    opacity: 0;
    position: absolute;
    transition-duration: 0.5s;
  }

  a:focus {
    opacity: 100%;
  }
</style>
