<a id="skiplink" class="visually-hidden" href="#main-content" aria-label="Skip Link">Skip to Content</a>

<style>
  a {
    background-color: var(--background-color);
    border: 1px solid;
    border-radius: 10px;
    padding: 1em;
    z-index: 1;
    transition-duration: 0.5s;
  }

  a:focus {
    translate: 0;
  }
</style>
