---
// https://indieweb.org/How_to_set_up_web_sign-in_on_your_own_domain
// https://indiewebify.me/validate-rel-me/

import { author } from "../../config.mjs";

const socials = [
  { name: "Email", url: `mailto:${author.email}` },
  {
    name: "Newsletter",
    url: "https://samfeldstein.substack.com",
  },
  {
    name: "Instagram",
    url: "https://www.instagram.com/seldstein/",
  },
  {
    name: "Reddit",
    url: "https://www.reddit.com/user/seldstein/",
  },
  {
    name: "GitHub",
    url: "https://github.com/seldstein",
  },
  {
    name: "Feed",
    url: "/feed.xml",
  },
];
---

<ul>
  {
    socials.map((social) => (
      <li>
        <a href={social.url} rel="me">
          {social.name}
        </a>
      </li>
    ))
  }
</ul>

<style>
  ul {
    list-style-type: none;
    padding-left: 10px;
  }

  li {
    padding: 0.2em 0;
  }
</style>
