---
const { tags, path } = Astro.props;
---

<ul class="tags unstyled-list">
  {
    tags.map((tag) => (
      <li>
        <a class="tag" href={`/${path}/tags/${tag}`}>
          #{tag}
        </a>
      </li>
    ))
  }
</ul>

<style>
  a {
    text-decoration: none;
    font-style: italic;
  }

  a:hover,
  a:focus {
    text-decoration: underline;
  }
</style>
