---
import type { GetStaticPaths } from "astro";
const { tags, path } = Astro.props;
---

<ul class="flex-list">
  {
    tags.map((tag) => (
      <li>
        <a class="tag" href={`/${path}/tags/${tag}`}>
          #{tag}
        </a>
      </li>
    ))
  }
</ul>

<style>
  ul {
    gap: 1em;
    justify-content: center;
  }
  
  a {
    font-style: italic;
  }
</style>