---
const { tags, path } = Astro.props;
---

<ul class="tags unstyled-list">
  {
    tags.map((tag) => (
      <li>
        <a class="tag" href={`/${path}/tags/${tag}`}>
          <i>#{tag}</i>
        </a>
      </li>
    ))
  }
</ul>

<style>
  a {
    font-size: calc(0.9rem + 0.25vw);
    font-weight: 700;
  }
</style>
