---
const { tags, path } = Astro.props;

function formatString(str) {
  return str.replace(/-/g, " "); // Replace hyphens with spaces
}
---

<ul class="tags">
  {
    tags.map((tag) => (
      <li>
        <a class="tag" href={`/${path}/tags/${tag}`}>
          {formatString(tag)}
        </a>
      </li>
    ))
  }
</ul>

<style>
  ul {
    list-style-type: none;
    padding: 0;
    display: grid;
    gap: 2rem;
  }
</style>
