---
const { tags, path } = Astro.props;
---

<ul class="tags unstyled-list">
  {
    tags.map((tag) => (
      <li>
        <a class="tag no-decor" href={`/${path}/tags/${tag}`}>
          #{tag}
        </a>
      </li>
    ))
  }
</ul>

<style>
  a {
    font-style: italic;
  }
</style>
