---
const { tags } = Astro.props;
---

<ul class="tags" aria-label="Tags">
  {
    tags.map((tag) => (
      <li>
        <a class="tag" href={`/tags/${tag}/`}>
          #{tag}
        </a>
      </li>
    ))
  }
</ul>
