---
const { tags, path } = Astro.props;
---

<ul aria-label="Tags">
  {
    tags.map((tag) => (
      <li>
        <a href={`/${path}/tags/${tag}`}>
          #{tag}
        </a>
      </li>
    ))
  }
</ul>
