---
const { tags, path } = Astro.props;
---

<ul class="tags unstyled-list">
  {
    tags.map((tag) => (
      <li>
        <a class="tag" href={`/${path}/tags/${tag}`}>
          <i>#{tag}</i>
        </a>
      </li>
    ))
  }
</ul>

<style>
  a {
    text-decoration: none;
  }

  a:hover,
  a:focus {
    text-decoration: underline;
    text-decoration-thickness: 0.05em;
    text-underline-offset: 0.1em;
  }
</style>
