---
const { tags } = Astro.props;
---

<div class="tags" aria-label="Tags">
  {
    tags.map((tag) => (
        <a href={`/tags/${tag}`}>#{tag}</a>
    ))
  }
</div>

<style>
  .tags {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
  }
</style>
