---
// Layout
import BaseLayout from "../../../layouts/BaseLayout.astro";

// Collections
import { getCollection } from "astro:content";

// Utils
import { sortCollectionByDate } from "../../../scripts/utils";

// Functions
export async function getStaticPaths() {
  const posts = await getCollection("blog");
  const uniqueTags = [...new Set(posts.map((post) => post.data.tags).flat())];

  return uniqueTags.map((tag) => {
    const filteredPosts = posts.filter((post) => post.data.tags.includes(tag));
    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
  });
}

// Variables
const { tag } = Astro.params;
const { posts } = Astro.props;

// Calls
sortCollectionByDate(posts);
---

<BaseLayout title={tag}>
  <h1>{tag}</h1>
  <ul class="unstyled-list">
    {
      posts.map((post) => (
        <li>
          <a href={`/blog/${post.slug}/`}>{post.data.title}</a>
        </li>
      ))
    }
  </ul>
</BaseLayout>

<style>
  h1::before {
    content: "#";
  }

  li {
    margin-bottom: 1rem;
  }
</style>
