---
// Layout
import BaseLayout from "../../../layouts/BaseLayout.astro";

// Components
import Tags from "../../../components/Tags.astro";

// Collections
import { getCollection } from "astro:content";

// Variables
const posts = await getCollection("blog");
const tags = [...new Set(posts.map((post) => post.data.tags).flat())];
tags.sort();
---

<BaseLayout title="Blog Tags">
  <header aria-label="Page Header">
    <h1>#tags</h1>
  </header>
  <Tags tags={tags} path="blog" />
</BaseLayout>
