---
// Layout
import BaseLayout from "../../../layouts/BaseLayout.astro";

// Components
import Tags from "../../../components/Tags.astro";

// Collections
import { getCollection } from "astro:content";

// Variables
const posts = await getCollection("blog");
const tags = [...new Set(posts.map((post) => post.data.tags).flat())];
tags.sort();
---

<BaseLayout
  title="Blog Tags"
  description="Browse my blog by category."
>
  <h1>Tags</h1>
  <Tags tags={tags} path="blog" />
</BaseLayout>

<style is:global>
  ul {
display: grid;
gap: 1rem;

    .tag {
      font-size: inherit;
      font-weight: 400;
    }
  }
</style>
