---
// Layout
import Base from "@layouts/Base.astro";
import Head from "@components/Head.astro";
import Tags from "../../../components/Tags.astro";

import "@styles/_tags.scss";

// Collections
import { getCollection } from "astro:content";

const preloadFonts = ["cormorant", "noto-sans"];

// Variables
// Filter drafts when building for production
const posts = await getCollection("blog", ({ data }) => {
  return import.meta.env.PROD ? data.draft !== true : true;
});
const tags = [...new Set(posts.map((post) => post.data.tags).flat())].sort(
  (a, b) => a.localeCompare(b),
);
---

<Base>
  <Head
    slot="head"
    title="Blog Tags"
    description="An index of blog post tags."
    preloadFonts={preloadFonts}
  />
  <header>
    <nav>
      <a href="/">Home</a>
      <a href="/blog/">All Posts</a>
    </nav>
    <h1>Tags</h1>
  </header>
  <main id="main-content">
    <Tags tags={tags} path="blog" />
  </main>
</Base>
