---
// Components
import Head from "../components/Head.astro";
import Skiplink from "../components/Skiplink.astro";
import Menu from "../components/MobileMenu.astro";
import SiteFooter from "../components/SiteFooter.astro";

import { site } from "../../config.mjs";

// Variables
const {
  title = `${site.title}`,
  description = `${site.description}`,
  ogTitle = `${title}`,
  ogType = "website",
  frontmatter,
} = Astro.props;
---

<!doctype html>
<html lang="en" prefix="og:https://ogp.me/ns#">
  <Head
    title={title || frontmatter.title}
    description={description || frontmatter.description}
    ogTitle={ogTitle || title || frontmatter.ogTitle || frontmatter.title}
    ogType={ogType || frontmatter.ogType}
  />
  <body>
    <Skiplink />
    <Menu />
    <main id="main-content">
      <slot />
    </main>
    <SiteFooter />
  </body>
</html>
