---
// Components
import BaseHead from "../components/BaseHead.astro";
import ConstructionBanner from "../components/ConstructionBanner.astro";
import MainHeader from "../components/SiteHeader.astro";
import MainFooter from "../components/MainFooter.astro";

// Variables
const { title, key, description, construction } = Astro.props;
---

<!doctype html>
<html lang="en">
  <BaseHead title={key || title} description={description} />
  <body>
    <a href="#main-content" id="skiplink">Skip to Content</a>
    {construction && <ConstructionBanner />}
    <MainHeader />
    <main>
      <slot />
    </main>
    <MainFooter />
  </body>
</html>
