---
// Components
import BaseHead from "../components/BaseHead.astro";
import Skiplink from "../components/Skiplink.astro";
import ConstructionBanner from "../components/ConstructionBanner.astro";
import Sidebar from "../components/Sidebar.astro";
import MobileMenu from "../components/MobileMenu.astro";
import SiteFooter from "../components/SiteFooter.astro";

// Variables
const { title, description, construction } = Astro.props;
---

<!doctype html>
<html lang="en">
  <BaseHead title={title} description={description} />
  <body>
    <div class="page-container">
    <Skiplink />
    {construction && <ConstructionBanner />}
    <Sidebar />
    <MobileMenu />
    <div class="flex-column">
      <main>
        <slot />
      </main>
      <SiteFooter />
    </div>
  </div>
  </body>
</html>
