---
// Styles
import "/src/styles/styles.css";

// Components
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Skiplink from "../components/Skiplink.astro";

// Variables
const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <BaseHead title={title} description={description} />
  <body>
    <Skiplink />
    <Header />
    <main id="main-content">
      <slot />
    </main>
    <hr>
    <Footer />
  </body>
</html>
