---
// Components
import BaseHead from "../components/BaseHead.astro";
import Body from "../components/Body.astro";
import Skiplink from "../components/Skiplink.astro";
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";

// Variables
const { title, description, bodyClass, navClass } = Astro.props;
---

<!doctype html>
<html lang="en">
  <BaseHead title={title} description={description} />
  <Body class={bodyClass}>
    <Skiplink />
    <header>
      <Navigation class={navClass} />
    </header>
    <main id="main-content">
      <slot />
    </main>
    <Footer />
  </Body>
</html>

<style>
  header {
    margin-bottom: 1rem;
  }
</style>
