---
import "/src/styles/reset.scss";

// Components
import BaseHead from "../components/BaseHead.astro";
import Skiplink from "../components/Skiplink.astro";
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";

// Variables
const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <BaseHead title={title} description={description} />
  <body>
    <Skiplink />
    <header>
      <a href="/">Sam Feldstein</a>
      <Navigation />
    </header>
    <main id="main-content">
      <slot />
    </main>
    <Footer />
  </body>
</html>
