---
import Head from "@/components/Head.astro";
import Skiplink from "@/components/Skiplink.astro";

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en-us" prefix="og:https://ogp.me/ns#">
  <Head title={title} description={description} />
  <body>
    <Skiplink />
    <slot />
  </body>
</html>
