---
// Styles
import "/src/styles/base.scss";

// Components
import BaseHead from "../components/BaseHead.astro";
import Skiplink from "../components/Skiplink.astro";

// Variables
const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <BaseHead title={title} description={description} />
  <body>
    <Skiplink/>
    <header id="header-main">
      <a href="/">Sam Feldstein</a>
      <nav class="menu-main">
        <a href="/">/Home</a>
        <a href="/blog/">/Blog</a>
        <a href="/feed.xml">/Feed</a>
      </nav>
    </header>
    <main id="main-content">
      <slot />
    </main>

    <footer id="footer-main">
      <p>Built with <a href="https://astro.build/">Astro</a>.</p>
    </footer>
  </body>
</html>
