---
// Components
import BaseHead from "../components/BaseHead.astro";
import Skiplink from "../components/Skiplink.astro";
import ConstructionBanner from "../components/ConstructionBanner.astro";

// Variables
const { title, description, underConstruction } = Astro.props;
---

<!doctype html>
<html lang="en">
  <BaseHead title={title} description={description} />
  <body>
    <Skiplink />
    {underConstruction && <ConstructionBanner />}
    <slot />
    <footer id="footer-main">
      <p>Built with <a href="https://astro.build/">Astro</a>.</p>
    </footer>
  </body>
</html>
