---
// Components
import Head from "../components/Head.astro";
import Skiplink from "../components/Skiplink.astro";

import { site } from "../../config.mjs";

// Variables
const {
  title = `${site.title}`,
  description = `${site.description}`,
  ogTitle = `${title}`,
  ogType = "website",
  frontmatter,
  preloadFonts = [],
} = Astro.props;
---

<!doctype html>
<html lang="en-us" prefix="og:https://ogp.me/ns#">
  <Head
    title={title || frontmatter.title}
    description={description || frontmatter.description}
    ogTitle={ogTitle || title || frontmatter.ogTitle || frontmatter.title}
    ogType={ogType || frontmatter.ogType}
    preloadFonts={preloadFonts}
  />
  <body>
    <Skiplink />
    <slot />
  </body>
</html>
