---
// Styles
import "/src/styles/base.scss";

// Components
import BaseHead from "../components/BaseHead.astro";
import Skiplink from "../components/Skiplink.astro";
import ConstructionIcon from "../components/ConstructionIcon.astro";

// Variables
const { title, description, underConstruction } = Astro.props;
---

<!doctype html>
<html lang="en">
  <BaseHead title={title} description={description} />
  <body>
    <Skiplink />
    {
      underConstruction && (
        <p id="under-construction">
          <ConstructionIcon /> This page is under construction.
        </p>
      )
    }
    <slot />
    <footer id="footer-main">
      <p>Built with <a href="https://astro.build/">Astro</a>.</p>
    </footer>
    <style>
      #under-construction {
        background-color: yellow;
        margin-top: 0;
        padding: 0.5rem;
        text-align: center;
      }
    </style>
  </body>
</html>
