---
// Components
import Base from "./Base.astro";
import Post from "../components/Post.astro";

// Collections
// https://docs.astro.build/en/tutorials/add-content-collections/
import { getCollection } from "astro:content";

// Utils
import { sortPostsByDate } from "../scripts/utils";

// Variables
const { frontmatter } = Astro.props;
const posts = await getCollection("blog");

// Calls
sortPostsByDate(posts);
---

<Base title="Blog" description="Sam Feldstein's blog.">
  <header aria-label="Page Header">
    <h1>{frontmatter.title}</h1>
  </header>
  <hr />
  <slot />
  <ul>
    {
      posts.map((post) => (
        <li>
          <Post url={`/blog/${post.slug}/`} title={post.data.title} />
        </li>
      ))
    }
  </ul>
</Base>

<style>
  ul {
    list-style: none;
    padding: unset;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
</style>
