---
// Layout
// Must be imported before stylesheet or base styles will take precedence
import BaseLayout from "./BaseLayout.astro";

// Components
import Contents from "../components/Contents.astro";

const { frontmatter, headings } = Astro.props;
---

<BaseLayout
  title={frontmatter.tabTitle || frontmatter.title}
  description={frontmatter.description}
>
  <header class="header-page" aria-label="Page Header">
    <h1>{frontmatter.title}</h1>
    {
      frontmatter.updated && (
        <p class="updated">
          This page was updated on
          <span class="time">{frontmatter.updated}</span>.
        </p>
      )
    }
    {frontmatter.toc && <Contents headings={headings} />}
  </header>
  <slot />
</BaseLayout>

<style>
  .updated {
    font-style: italic;
    margin-top: 0;
  }

  .time {
    font-style: normal;
    font-weight: bold;
    font-size: inherit;
  }
</style>
