---
import BaseLayout from "./BaseLayout.astro";
import Blog from "../components/CollectionList.astro";

const { frontmatter } = Astro.props;
---

<BaseLayout title={frontmatter.title}>
  <h1 class="visually-hidden">{frontmatter.title}</h1>
  <slot />
  <section>
    <h2>Recent Posts</h2>

    <Blog collectionName="blog" sort="date" count="3" />

    <p class="text-right">
      <a href="/blog/">See all posts >>></a>
    </p>
  </section>
</BaseLayout>
